/********************************** COLORS AND THEMES *****************************/

//dark background
@theme-dark-bg-color-normal: rgba(0, 0, 0, 0.5);

//colored background
@theme-colored-bg-color-normal: #d4443e;
@theme-colored-bg-color-strong: #f64c3f;

//light background
@theme-light-bg-color-normal: #F5F5F5;
@theme-light-bg-color-strong: #FFFFFF;

//dark foreground
@theme-dark-fg-color-normal: #1a1c21;
@theme-dark-fg-color-strong: #000000;
@theme-dark-fg-color-weak: #888888;

//colored foreground
@theme-colored-fg-color-normal: #f64c3f;
@theme-colored-fg-color-strong: #d4443e;

//light foreground
@theme-light-fg-color-normal: #E0E0E0;
@theme-light-fg-color-weak: #91949d;
@theme-light-fg-color-strong: #ffffff;

.page-background {
	background-image: url("http://static.tumblr.com/3nghtcy/cRImezufo/low_contrast_linen.png");
	background-repeat: repeat;
}

/********************************* FONT SIZE AND WEIGHT **************************/

@theme-font-size-small: 13px;
@theme-font-size-normal: 15px;
@theme-font-size-large: 17px;

/********************************* CENTER DISPLAY **************************/
/*
	The Center Display shows a centered container with a rounded
	dashed border.  The center display comprises of:
	- centerDisplayHeader - header, typically with a logo and centerDisplayTitle
	- centerDisplayContent - content container, meant to show actual content
	- centerDisplayFooter - footer, typically at the bottom of the center display.
			This could contain a message, or even a Submit button;
*/

.centerDisplay {
	width: 60%;
	margin: 10px auto;
	border: 2px dotted gray;
	border-radius: 20px;
	padding: 20px;
	background-color: white;
}

.centerDisplayWide {
	width: 90%;
	margin: 10px auto;
	border: 2px dotted gray;
	border-radius: 20px;
	padding: 20px;
}

.centerDisplayTitle {
	font-size: @theme-font-size-large;
	font-weight: bold;
}

.centerDisplayFull {
	margin: 10px auto;
}

.centerDisplayContent {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.centerDisplayHeader {
	text-align: center;
	font-size: @theme-font-size-large;
	font-weight: bold;
}

.centerDisplayFooter {
	font-size: @theme-font-size-small;
	text-align: center;
}

.centerDisplayImage {
    display: block;
    margin: auto;
    width: 100%;
}

.centerDisplayCaption {
	margin: 0 auto;
	font-size: 1.3em;
	font-weight: bold;
	color: black;
	text-align: left; /* override left align from centerDisplayContent */
}

.centerDisplayCaptionSmall{
	font-size: @theme-font-size-normal;
	font-weight: bold;
	color: black;
	text-align: left; /* override left align from centerDisplayContent */
	margin-top: 10px;
	margin-bottom: 10px;
}

.centerDisplayFixedColumn {
	position: fixed;
	left: 30px;
	top: 50%;
	width: 40%;
	height: 80%;
	margin-top: -25%;
}

.centerDisplayScrollableColumn {
	width: 55%;

	float: right;
}

/********************************** MODIFIERS *****************************/

.low-top-margin {
	margin-top: 5px;
}

.low-bottom-margin {
	margin-bottom: 5px;
}

.low-top-bottom-margin {
	.low-top-margin;
	.low-bottom-margin;
}

/********************************** BUTTON MODIFIERS *****************************/

.button-full-width {
	width: 100%;
}

/********************************** ALIGNMENT MODIFIERS *****************************/

.vertical-center {
	vertical-align: middle;
}

.horizontal-center {
	text-align: center;
}
/********************************** GENERAL - INPUT ELEMENTS *****************************/


/*
	Button that has full background color.
*/
.button-full {
	background-color: @theme-colored-bg-color-normal;
	color: white;
	font-size: 16px;
	.low-top-bottom-margin;
}

.button-full:hover {
	background-color: @theme-colored-bg-color-strong;
	color: white;
	font-size: 16px;
	.low-top-bottom-margin;
}

/*
	Button that has no background, but a border.
*/
.button-line {
	color: @theme-colored-fg-color-normal;
	border: 1px;
	border-color: @theme-colored-bg-color-normal;
	border-style: solid;
	background: transparent;
	font-size: 15px;
}

.button-line:hover {
	color: @theme-colored-fg-color-normal;
	border: 1px;
	border-color: @theme-colored-bg-color-normal;
	border-style: solid;
	background: transparent;
	font-size: 15px;
}

.button-line.active {
	color: @theme-colored-fg-color-normal;
	border: 1px;
	border-color: @theme-colored-bg-color-normal;
	background: transparent;
	font-size: 15px;
}

/*
	Button with no background and border.
*/
.button-empty {
	color: black;
	font-size: 15px;
	background: transparent;
	border: 0px;
}

.button-empty hover {
	color: @theme-colored-fg-color-normal;
	background-color: @theme-colored-bg-color-normal;
	font-size: 15px;
}

.button-empty.active {
	color: @theme-colored-fg-color-normal;
}

/*
	Button that looks like a link.
*/
.button-link {
	background-color: transparent;
	color: @theme-dark-fg-color-normal;
	/* padding: 8px; */
	/* font-size: 1em; */
	border: none;
	padding: 0px;
}

.button-link:hover {
	color: @theme-colored-fg-color-strong;
	text-decoration: underline;
}

.button-link.active {
	color: @theme-colored-fg-color-strong;
	font-weight: bold;
	padding: 0px;
}

.social-action-button {
	//margin: 1px;
	background-color: @theme-dark-bg-color-normal;
	color: @theme-light-fg-color-normal;
	display: table-cell;
	cursor: pointer;
	font-size: @theme-font-size-small;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-wrap: break-word; // for same width effect
	padding: 10px 0px 10px 0px;
	width: 100%;
}

.social-action-button:not(:first-child) {
	margin-left: 1px;
}

.social-action-button:hover {
	background-color: @theme-colored-bg-color-strong;
	color: @theme-light-fg-color-strong;
}

.social-action-button:first-child {
	.mediumRoundedBottomLeftCorner;
}

.social-action-button:last-child {
	.mediumRoundedBottomRightCorner;
}

/*
	Button used for settings
*/
.button-setting {
	color: black;
	border: 1px solid #808080;
	background: #d9d9d9;
	font-size: 1.1em;
}

.button-setting:hover {
	color: white;
	background: @theme-colored-bg-color-normal;
	font-size: 1.1em;
	border: 1px solid @theme-colored-bg-color-normal;
}

.button-setting.active {
	color: white;
	background: @theme-colored-bg-color-normal;
	font-size: 1.1em;
	border: 1px solid @theme-colored-bg-color-normal;
}

.button-setting.disabled {
	color: #a6a6a6;
	border: 1px solid #a6a6a6;
	background: transparent;
	font-size: 1.1em;
}

/********************************** GENERAL - CONTAINERS ***********************/

/*
	Full Width container, in which content (such as text) 
	will be centered horizontally
*/
.full-width-center-content {
	width: 100%;
	text-align: center;
}
/********************************** GENERAL - SEPARATORS ***********************/

.separator-small {
	margin-left: 5px;
}

.separator-small:first-child {
	margin-left: 0px;
}

.separator-medium {
	margin-left: 10px;
}

.separator-medium:first-child {
	margin-left: 0px;
}

.separator-large {
	margin-left: 15px;
}

.separator-large:first-child {
	margin-left: 0px;
}

/********************************** GENERAL - TEXT ***********************/

.text-small-caps {
	font-variant: small-caps;
}

.text-all-caps {
	text-transform: uppercase;
}

.secondary-info {
	font-size: @theme-font-size-small;
	color: @theme-dark-fg-color-weak;
}

/********************************* GENERAL - HR *********************/

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}


/********************************* TITLES / HEADINGS *********************/

.subHeading {
	background: #fff;
	padding: 0 10px 0 0;
	font-size: 1.4em;
	font-weight: bold;
}

.subCaption {
	font-size: 1.1em;
	font-weight: bold;
}

.lineBehindHeading {
    position: relative;
    z-index: 1;
    /* font: 1.4em sans-serif; */
    /* margin-top: 150px; */
    text-align: left;
    padding: 20px 0px;
}

.lineBehindHeading:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 99%;
        z-index: -1;
    }

/********************************* USER IMAGES ***********************/

/*
	Image of the user (rounded)
*/
.user-image-large {
	max-height: 60px;
	margin-right: 10px;
	border-radius: 50%;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*
	Image of the user (rounded)
*/
.user-image-medium {
	max-height: 50px;
	margin-right: 10px;
	border-radius: 50%;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*
	Image of the user (rounded)
*/
.user-image-tiny {
	max-height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	padding-top: 2px;
	padding-bottom: 2px;
}

/********************************* GENERAL - LINKS ***********************/

.link-plain {
	/* dummy - use standard links */
}

.link-black {
	color: black;
}

.link-black:hover {
	color: black;
}

/********************************** DRAG / DROP RELATED ******************/

.dropZone {
	/* position: relative; */
	display: table;

	border: 5px dotted @theme-colored-bg-color-normal;
	border-radius: 20px;
	color: gray;
	font: 24px/200px arial;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	line-height: 1;
	/* padding: 30px; */
	width: 100%;
}

.dropZoneContent {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

/********************************** BRAND RELATED ************************/



/********************************** GENERAL *****************************/

/**
	Note: The body is pushed down by 50px since the nav-bar is 50px tall.
	Please refer the rules for .navbar-nav li and .navbar-nav > li > a;
**/
body {
	font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
	padding-top: 60px; /* Push content below the navbar */
    .page-background;

}

/*
td {
	vertical-align: center;
	text-align: center;
}
*/

.sectionTitle {
	display:block;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Limit image width to avoid overflow the container
	as recommnded by cropper - see https://github.com/fengyuanchen/cropper
	*/
img {
	max-width: 100%;
}

.floatingElement {
	border-style: solid;
	border-width: 0.1px;
	border-color: #D3D3D3;
	box-shadow: 0px 0px 2px 0px #D3D3D3;
}

.smallRoundedCorners {
	border-radius: 5px;
}

.smallRoundedTopCorners {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.smallRoundedBottomCorners {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px	
}

.mediumRoundedCorners {
	.mediumRoundedTopCorners;
	.mediumRoundedBottomCorners;
}

.mediumRoundedTopCorners {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.mediumRoundedBottomCorners {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.mediumRoundedBottomLeftCorner {
	border-bottom-left-radius: 10px;
}

.mediumRoundedBottomRightCorner {
	border-bottom-right-radius: 10px;
}

.flex-parent {
	display: -webkit-flex; /* Safari */
    display: flex;
}

.flex-child {
	-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.container-with-floats {
	overflow: auto;
}

.clear-floats {
	clear: both;
}

.small-vertical-gap {
	height: 10px;
}

/***************************** Challenge / Entry / Entity Related *********************/

.general-element {
	background-color: white;
}

/*
	Main Element - e.g., Challenge on the /challenge page, and Entry on the /entry page
*/
.mainElement {
	margin: 0px 0px 20px 0px;
	background-color: transparent;
}

.mainElement > *:first-child {
	.mediumRoundedTopCorners;
}

.mainElement > *:last-child {
	.mediumRoundedBottomCorners;
}

/*
	Feed Element - e.g., one of the elements in the Home Feed View.
*/
.feedElement {
	margin: 0px 0px 20px 0px;
	background-color: transparent;
}


.feedElement > *:first-child {
	.mediumRoundedTopCorners;
}

.feedElement > *:last-child {
	.mediumRoundedBottomCorners;
}


/*
	Scrollable Element - when you click on the FilmStrip view
*/
/*
.scrollableElement {
	margin: 0px 0px 20px 0px;
	.floatingElement;
}
*/

.scrollableElement {
	margin: 0px 0px 20px 0px;
	background-color: transparent;
}


.scrollableElement > *:first-child {
	.mediumRoundedTopCorners;
}

.scrollableElement > *:last-child {
	.mediumRoundedBottomCorners;
}

/* Add left/right margins around the thumbnail elements */
.gridCell {
	padding: 0px 5px;
}

/*
	Thumbnail Element - when you click on the Grid / Thumbnail view
*/
.thumbnailElement {
	margin: 0px 0px 10px 0px;
	background-color: transparent;
}

.thumbnailElement > *:first-child {
	.mediumRoundedTopCorners;
}

.thumbnailElement > a:first-child > img {
	.mediumRoundedTopCorners;
}

.thumbnailElement > *:last-child {
	.mediumRoundedBottomCorners;
}

.thumbnailElement.active {
	background-color: @theme-colored-bg-color-normal;
}

/*
	Hover effect on thumbnail elements
*/
.elementHover:hover {
	background-color: @theme-colored-bg-color-normal;
	cursor: pointer;
}

/*
	Activity Section - this is shown at the top of the element view and includes text
	such as "Recently commented by XYZ, or Popular among other users, etc."
*/
.activitySection {
	padding: 10px 10px 10px 10px;
	margin-bottom: 1px;
	background-color: @theme-dark-bg-color-normal;
	color: @theme-light-fg-color-normal;
}

.activitySection a {
	text-decoration: none;
	color: @theme-light-fg-color-strong;
}

.titleSection {
	padding: 5px 10px;
	text-align: center;
	background-color: @theme-dark-bg-color-normal;
	color: @theme-light-fg-color-normal;
}

/*
	Header of the Element that includes things like Poster, Posted Date and the Drop-down menu.
*/
.postHeaderSection {
	//margin: 5px 5px 5px 10px; /* Right margin is less to allow the Drop Down menu (caret) to be as right as possible */
	padding: 10px 5px 10px 10px;
	position: relative;
	background-color: @theme-dark-bg-color-normal;
}

.posted-by-name a {
	color: @theme-light-fg-color-strong;
	font-size: @theme-font-size-small;
	font-weight: bold;
	text-decoration: none;
}

.posted-by-name a:hover {
text-decoration: underline;
}


.posted-by-name-light a { //for comments and other containers with light background
	color: @theme-dark-fg-color-strong;
	font-size: @theme-font-size-small;
	font-weight: bold;
	text-decoration: none;
}

.posted-by-name-light a:hover {
	text-decoration: underline;
}

.posted-date {
	font-size: @theme-font-size-small;
	font-style: italic;
	color: @theme-light-fg-color-normal;
}

.posted-category {
	font-size: @theme-font-size-small;
	font-style: italic;
	color: @theme-light-fg-color-normal;
}

.posted-category:hover {
	color: @theme-light-fg-color-strong;
	text-decoration: none;
}

/*
	Main image (e.g. entity image or images in the FilmStrip view)
	Expand to fit width of container.
*/
.mainImage {
	width: 100%;
}



/*
	Time Lapse Button Section - Needs refinement
*/
.timelapseSection {
	float: right;
}

input[type=range] .timelapseRange  {
	width: 100%;
}

/* Social Status section that contains buttons such as X Entries, Y Likes, etc. */
.socialStatusSection {
	//margin: 5px 20px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	background-color: white;
}

.bottom-border {
	border-bottom-style: solid;
	border-width: 0.1px;
	border-color: gray;
}

/* Social Actions section that contains buttons such as Like, Comment, etc. */
.socialActionsSection {
	text-align: center;
	display: flex;
	justify-content: space-between;
	border-collapse:separate;
	border-spacing:1px 0px;
	width: 100%;
	//.mediumRoundedBottomCorners;
}

/* Caption Section that contains the Caption for the entity */
.captionSection {
	//margin: 5px 20px;
	padding: 10px 10px 10px 10px;
	background-color: white;
	text-align: center;
	color: @theme-colored-fg-color-normal;
}

/****************************** View Type - Thumbnail / Filmstrip buttons *************************/

.view-type-button {
	//margin: 1px;
	background-color: transparent;
	color: @theme-light-fg-color-normal;
	padding: 5px 10px;
	border: 0px;
}

.view-type-button:hover {
	//margin: 1px;
	background-color: @theme-colored-bg-color-strong;
	color: @theme-light-fg-color-strong;
}

.view-type-button.active {
	color: @theme-light-fg-color-strong;
}

/****************************** Alert / Popup *************************/

.alert-message {
	font-size: 15px;
	padding: 10px;
}

/****************************** USER PROFILE PAGE *************************/

/* User's profile image */
.profileImage {
	display: block;
	margin: 0 auto;
	height: 200px;
}

.mainProfileSection {
	border-radius: 50px;
	border-style: dotted;
	border-color: black;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 40%;
	background-color: #E9F7EF;
	text-align: center;
}

/****************************** Button Over Image Related ********************/

/**
	These rules allow buttons to overlay on top of images, such as while editing
	the user profile image, and using the Crop tool in the New Entry workflow.
	The buttons will come and go as you hover over the imageSection.
**/
.imageSection {
  position: relative;
  display: inline-block;
  margin:0 auto;
  padding: 0px;
}

.imageSectionHover:hover input {
	display: block;
}

/* Buttons that show when you hover over the image */
.buttonOverImage {
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    border: 0px;
  	color: @theme-colored-fg-color-normal;
    display:none;
}

/* Button that shows when you hover over the text field */
.buttonOverText {
    position:absolute;
    background: rgba(0, 0, 0, 0);
    border: 0px;
   	color: @theme-colored-fg-color-normal;
    display:none;
}

/* Hover the button towards the right */
.buttonOverlayRight {
	right: 5px;
    bottom: 2px;
}

/* Hover the button towards the left */
.buttonOverlayLeft {
	left: 5px;
    bottom: 2px;
}

/* User's profile name */
.profileName {
	position: relative;
	width: 90%;
	display: inline-block;
  	margin:0 auto;
  	padding: 0px;
  	text-align: center;
  	color: @theme-light-fg-color-strong;
}

/* Actual text box that contains the user's profile name */
.displayName {
	width: 100%;
	font-style: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: transparent;
	border: 0px;
}

.displayNameHover:hover {
	border-color: @theme-light-fg-color-strong;
	border-width: 0.25px;
	border-style: dotted;
	border-color: @theme-light-fg-color-normal;
}

.profileNameHover:hover input {
	display:block;
}

/****************** New Caption ***********************/

.selectImageSection {
	width: 70%;
	margin: 0 auto;
}

.selectDesignSection {
	width: 80%;
	margin: 0 auto;
}
/****************** New Entry ***********************/

.stepContent {
	padding: 10px;
	width: 100%;
	margin: 0 auto;
}

.selectDesignButton {
	cursor: pointer;
	border: none;
	width: 100%;
}

/****************** SETTINGS **************************/
/* Mostly used by settings on the New Entry workflow **/

.settingsSubBlock {
	padding: 10px 10px;
	width: 100%;
	clear: both;
	display: table;
}

.settingsSubBlockCaption {
	font-size: 1.1em;
	font-weight: bold;
	color: gray;
	width: 30%;
	display: inline-block;
	overflow: hidden;
	/* display: table-cell;
	vertical-align: middle; */
}

.settingsSubBlockElements {
	float: right;
	width: 70%;
	/*display: table-cell;
	text-align: left; */
}

.select-setting {
	font-size: 1.1em;
}

input[type=range] .range-setting {
	display: inline;
	width: 70%;
	max-width: 200px;
	min-width: 100px;
}

.settingsRangeWithValue {
	text-align: center;
	font-size: 1.1em;
}

/*********************** COMMENTS LIST ************************/

.commentsList {
	width: 100%;
	margin: 0 auto;
	background-color: @theme-light-bg-color-strong;
}

.commentsTable {
	width: 100%;
}

.commentsRow {
}

.commentElement {
	margin: 0 15px;
	padding-top: 5px;
}

.commentsLeftColumn {
	width: 45px;
	text-align: right;
	vertical-align: top;
	padding: 10px 2px 2px 2px;
}

.commentsRightColumn {
	padding: 10px;
}

.socialStatusSectionSimple {
	padding-top: 5px;
}

.replyElement {
	margin-left: 40px;
}

.buttonSimple {
	background: none;
	color: #1155cc;
	font-weight: normal;
	border: none;
	cursor: pointer;
	padding: 0px;
}

.buttonSimple.active {
	background: none;
	color: #1155cc;
	font-weight: bold;
	border: none;
	padding: 0;
	cursor: pointer;
	padding: 0px;
}




/* STEP WIZARD - see https://bootsnipp.com/snippets/e3MBM */

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard-header {
    display: flex;
  	justify-content: space-between;
  	margin: 10px 0px;
}
.stepwizard-header:before {
    top: 24px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin: 10px auto;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/*. New Entry Workflow */

.stepHeader #prevButton {
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stepHeader #nextButton {
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.stepHeader {
	text-align: center;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: table
}

/*
.stepHeader {
	 overflow: auto; 
	padding: 5px;
}
*/

.stepTitle {
	display: inline-block;
	/* font-family: serif; */
	font-size: 1.4em;
	font-weight: bold;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}

/******************* MODAL WINDOW *******************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-wide {
	width: 60%;
}

.modal-medium {
	width: 50%;
}

.modal-narrow {
	width: 40%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #595959;
    color: white;
}

.modal-header h2 {
	font-size: 15px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #595959;
    color: white;
}

/************************** Item / Post **************************/

.DropDown {
	display: inline-block;
}

.itemDropdownMenu {
	/*
	position: absolute;
	top: 5px;
	right: 5px;
	*/
	float: right; 
}

.itemDropdownMenuList2 {
	position: relative;
	z-index: 1;
}

.itemDropdownButton {
	background: transparent;
	border: 0px;
}

/************************* Popup with list of people *************************/

.user-image-column {
	width: 70px;
	text-align: right;
}

.user-name-column {
	padding-left: 10px;
	padding-right: 10px;
}

/************************ Social ***************************/

.socialIcon {
	height: 50px;
}


/************************** Side bar ***************************/

.sidebar {
	width: 100%;
	margin: 0px 0px 10px 0px;
	overflow: hidden;
	background: transparent;
}

.sidebarHeading {
	width: 100%; 
	
	padding: 10px 20px 10px 20px;
	margin: 1px;
	font-size: @theme-font-size-normal;
	font-weight: bold;
	letter-spacing: 1px;
	
	.mediumRoundedTopCorners;
	background-color: @theme-dark-bg-color-normal;
	color: @theme-light-fg-color-strong;
}

.split-sidebar-heading {
	width: 100%; 
	
	padding: 10px 20px 10px 20px;
	margin: 1px 1px 10px 1px;
	font-size: @theme-font-size-normal;
	font-weight: bold;
	letter-spacing: 1px;
	
	.mediumRoundedCorners; //rounded corners on all four sides because the heading is split
	background-color: @theme-dark-bg-color-normal;
	color: @theme-light-fg-color-strong;
}

.sidebarContent {
}

.sidebar-item {
	margin: 1px;
	font-size: @theme-font-size-small;
	font-weight: 700;
	background-color: @theme-dark-bg-color-normal;
	width: 100%;
}

.sidebar-item:last-child {
	.mediumRoundedBottomCorners;
}

.sidebar-item a {
	padding: 10px 20px 10px 20px;
	display: block;
	text-decoration: none;
	.text-all-caps;
	letter-spacing: 1px;
	color: @theme-light-fg-color-normal;
}

.sidebar-item a:hover {
	color: @theme-light-fg-color-strong;
}

//need to set background color hover to separate class hoverable because
//the last-child needs to be applied to sidebar-item and if we set the hover
//background color to the a inside the sidebar-item then it won't work
.sidebar-item.hoverable:hover {
	color: @theme-light-fg-color-strong;
	background-color: @theme-colored-bg-color-strong;
}

.sidebar-item.active {
	color: @theme-light-fg-color-strong;
	background-color: @theme-colored-bg-color-normal;
}

.sidebar-item p {
	padding: 10px 20px 10px 20px;
	margin: 0px;
	color: @theme-light-fg-color-normal;
}

.sidebar-item button {
	text-align: center;
	background-color: transparent;
	padding: 10px 20px 10px 20px;
	display: block;
	.text-all-caps;
	letter-spacing: 1px;
	width: 100%;
	border: 0px;
}

.sidebarSeparator {
	
}

.sidebarItem {
	background: #F8F8F8;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sidebarItemImage {
	width: 40%;
	padding: 5px;
}

.sidebarItemTitle {
	padding: 5px;
}

.sidebarItemDescription {
	padding: 5px;
}

/************************** Nav Bar (Top) ***************************/

/* Override bootstrap nav bar */
.navbar-fixed-top {
	.page-background;
}

/* Override bootstrap color.  Custom color for all links in navbar */
.navbar-nav a {
	.navbar-link;
}

/* Override bootstrap value of padding.  The brand image on navbar should start at top as the height
already matches the navbar height */
.navbar-brand {
	padding-top: 0px;
}

.navbar-link {
	color: @theme-light-fg-color-normal;
}

ul.nav > li > a:hover {
	background: @theme-colored-bg-color-normal;
}

ul.nav li.dropdown.open > a {
	background: @theme-colored-bg-color-normal;
	padding-top: 0px;
	padding-bottom: 0px;
}

.userImage {
	height: 30px;
	margin-right: 10px;
	border-radius: 50%;
	vertical-align: middle;
}

/****
	IMPORTANT: Below two rules are important and must not be changed.
	They are to vertically center the nav bar items.
	The height of the navbar is fixed to 50px.  Please don't change
	unless you change both instances to a new value.
***/

.navbar-nav li {
	height: 50px;
}

.navbar-nav > li > a {
	line-height: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/************************** Nav Bar (TABS) ***************************/

.nav-tabs>li>a {
	text-decoration: none;
	background-color: transparent;
	color: @theme-light-fg-color-weak;
	font-size: @theme-font-size-normal;
	font-weight: bold;
}

ul.nav-tabs>li>a:hover {
	background-color: @theme-colored-bg-color-strong;
	color: @theme-light-fg-color-strong;
}

.nav-tabs>li.active>a {
	text-decoration: none;
	background-color: transparent;
	color: @theme-light-fg-color-strong;
}
.nav-tabs>li.active>a:hover {
	background-color: @theme-colored-bg-color-strong;
	color: @theme-light-fg-color-strong;
}



/************************* SPECIFIC FIXES **********************/

/* Fix for keeping the the first bootstrap column fixed - refer https://stackoverflow.com/a/30038714/7657145 */
.fixed {
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
}

/* Align the Glyphicon to match the vertical alignment of the text in the Span */
.glyphiconAlign {
	vertical-align: middle;
}

/* Force an element to be centered, like buttons, without having to mess with the parent divs */
.center {
	margin:auto;
  	display:block;
}

/* Overload bootstrap */
.form-control {
	/* font-size: 1.4em; */
	/* height: 50px; */
}

/*
textarea {
	margin: 10px auto;
	border: 0.5px dotted gray;
	border-radius: 10px;
	padding: 20px;
}
*/
