.title {
	text-align: center;
	font-family: arial;	
	font-size: 40px;
	font-weight: bold;
}

.subTitle {
	text-align: center;
	font-family: arial;	
	font-size: 30px;
	font-weight: bold;
}

.creationDate {
	font-family: arial;
	font-size: 30px;
	font-style: italic;
}

.sectionHeader {
	text-align: center;
	font-family: arial;	
	font-size: 30px;
	font-weight: bold;
}

.submitButton {
	font: bold 24px arial;
	font-weight: bold;
	display: inline-block;
	margin: auto;
	text-align: center;
}

#dropzone {
	position: relative;
	border: 10px dotted gray;
	border-radius: 20px;
	color: gray;
	font: bold 24px/200px arial;
	height: 200px;
	margin: 30px auto;
	text-align: center;
	width: 200px;
}

.settingsBlock {
	margin: auto;
	width: 60%;
	font: 22px arial;
}

.settingsSubBlock {
	margin: auto;
	width: 100%;
	font: 20px arial;
}

.selectImageSection {
	margin: auto;
	width: 60%;
	text-align: center;
	font: 24px/200px arial;
}

.textArea {
	font: 24px arial;
}

.center {
	margin: auto;
	width: 60%;
	text-align: center;
}

.centerImage {
    display: block;
    margin: auto;
    width: 40%;
}