/********************* GENERAL ***************/

.button-full {
	background-color: #9E1F63;
	color: white;
	font-size: 16px;
}

.button-full:hover {
	background-color: #6B1044;
	color: white;
	font-size: 16px;
}

.button-line {
	color: #9E1F63;
	border: 1px;
	border-color: #9E1F63;
	background: transparent;
	font-size: 15px;
}

.button-line:hover {
	color: #6B1044;
	border: 1px;
	border-color: #6B1044;
	background: transparent;
	font-size: 15px;
}

.button-line.active {
	color: #6B1044;
	border: 1px;
	border-color: #6B1044;
	background: transparent;
	font-size: 15px;
}

.button-empty {
	color: black;
	font-size: 15px;
	background: transparent;
	border: 0px;
}

.button-empty: hover {
	color: #9E1F63;
	background-color: #E2A1C7;
	font-size: 15px;
}

.button-empty.active {
	color: #9E1F63;
}

.text-script {
	font-style: italic;
}

.body {
	font-family: Source Sans Pro,Helvetica,Arial,sans-serif
}
.title {
	text-align: center;
	font-family: arial;	
	font-size: 40px;
	font-weight: bold;
}

.subTitle {
	text-align: center;
	font-family: arial;	
	font-size: 30px;
	font-weight: bold;
}

.creationDate {
	font-family: arial;
	font-size: 30px;
	font-style: italic;
}

.section {
	width: 60%;
	margin: 0 auto;
}

.section40 {
	width: 40%;
	margin: 0 auto;
}

.sectionHeader {
	font-family: arial;	
	font-size: 30px;
	font-weight: bold;
	padding: 5px 0px;
}

.sectionButton {
	font-size: 20px;
	margin: 0 10px;
}

.submitButton {
	font: bold 24px arial;
	font-weight: bold;
	display: inline-block;
	margin: auto;
	text-align: center;
}

#dropzone {
	position: relative;
	border: 10px dotted gray;
	border-radius: 20px;
	color: gray;
	font: bold 24px/200px arial;
	height: 300px;
	margin: 30px auto;
	text-align: center;
	width: 300px;
	padding: 30px;
}

#dropzone p {
	line-height: 1em;
}

.settingsBlock {
	margin: auto;
	width: 60%;
	font: 22px arial;
}

.settingsSubBlock {
	margin: auto;
	width: 90%;
	margin-left: 20px;
}

.settingsSubBlockTitle {
	display:block;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}

.selectImageSection {
	margin: auto;
	width: 60%;
	text-align: center;
	font: 24px/200px arial;
}

.gridTable {
	width: 100%;
}

.textArea {
	font: 24px arial;
}

.fontDropDown {
	width: 100px;
}

.center {
	margin: auto;
	width: 60%;
	text-align: center;
	display: block;
}

.centerImage {
    display: block;
    margin: auto;
	max-width: 60%;
}

.centerDiv {
	width: 500px;
	position: absolute;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.signInTextHeader {
	float: right;
	font-family: arial;	
	font-size: 15px;
	font-weight: bold;
}

.signOutTextHeader {
	float: right;
	font-family: arial;	
	font-size: 15px;
	font-weight: bold;
}

.userInfoText {
	font: 30px arial;
	font-weight: bold;
}

.userInfoImage {
	float: right;
}

.userNameHeader {
	float: right;
	font-family: arial;	
	font-size: 15px;
	font-weight: bold;
}

.userImageHeader {
	float: right;
	height: 50px;
}

/************** Main Image *******************/

.clear { clear:  both; }

.mainElement {
	border-right: 2px;
	border-style: solid;
	border-width: 0.1px;
	border-color: gray;
	margin: 20px 5px;
}

.feedElement {
	border-right: 2px;
	border-style: solid;
	border-width: 0.1px;
	border-color: gray;
	margin: 20px 5px;
}

.activitySection {
	margin: 5px 20px;
	padding: 10px 0px;
	border-bottom-style: solid;
	border-width: 0.1px;
	border-color: gray;
}

.activityText {
	font-size: 1.1em;
}

.postHeaderSection {
	margin: 5px 20px;
	padding: 10px 0px;
	/* overflow: hidden; */
	position: relative;
}

.postedBySectionOldRemove {
	width: 90%;
	position: relative;
	overflow: auto;
	margin: 0 auto;
}

.postedByDate {
	font-size: 1em;
	font-family: sans-serif;
	font-style: italic;
}

.postedByDateOldRemove {
	float: left;
	font-size: 1 em;
	font-family: sans-serif;
	font-style: italic;

	/* below is a trick to vertically center the date - see http://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
	position: absolute;
	left: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.postedBy {
	float: right;
}

.postedByName a {
	font-size: 1.1 em;
	font-weight: bold;
	color: black;
}

postedByName:hover{
	color: #0073b6;
}

.postedByImage {
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

.mainImage {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.entityImage {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.mainEntry {
	border-radius: 10px;
	border-style: dotted;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 70%;
}

.socialStatusOldRemove {
	float: left;
}

.timelapseSection {
	float: right;
}

.timelapseRange {
	width: 100%;
}

.bottomBar {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	overflow: auto;
}

.forceOverflow {
	overflow: auto;
}

.socialStatusSectionOldRemove {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	overflow: auto;
}

.socialActionSectionOldRemove {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	overflow: auto;
}

.socialStatusSection {
	margin: 5px 20px;
	padding: 10px 0px;
	border-bottom-style: solid;
	border-width: 0.1px;
	border-color: gray;
}

.socialActionsSection {
	width: 100%;
	margin: 5px 20px;
}

.glyphiconAlign {
	vertical-align: middle;
}

.socialStatusButton {
	background-color: transparent;
	color: #676969;
	padding: 8px;
	font-size: 1em;
	border: none;
}

.socialStatusButton:hover {
	/* background-color: #e2eff4; */
	color: #0073b6;
	text-decoration: underline;
}

.socialActionButton {
	background-color: transparent;
	padding: 8px;
	font-size: 15px;
	border: none;
	font-weight: 600;
	color: rgba(0,0,0,.85);
}

.socialActionButton.active {
	background-color: transparent;
	color: #0073b6;
	padding: 8px;
	font-size: 15px;
	border: none;
	font-weight: 600;
}

.socialActionButton:hover {
	background-color: #e2eff4;
	color: #0073b6;
}

.socialActionButtonOldRemove {
	background-color: #5DADE2;
	margin: 10px 5px;
}

.thumbnailTitle {
	font-size: 2em;
	font-family: sans-serif;
	text-align: center;
	width: 90%;
	display: block;
	margin: 0 auto;
}

.captionSection {
	margin: 5px 20px;
	padding: 10px 0px;
}

.captionSectionOldRemove {
	width: 90%;
	margin: 0 auto;
	background-color: #EAECEE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	padding: 10px;
}

.caption {
	font-size: 15px;
	font-weight: bold;
	font-family: inherit;
}

.scrollableElement {
	border-radius: 5px;
	border-color: black;
	border-style: dotted;
	border-width: 0.5px;
	margin: 20px;
	padding: 10px;
}

.thumbnailElement {
	border-radius: 5px;
	border-color: black;
	border-style: dotted;
	border-width: 0.5px;
	margin: 10px;
	padding: 5px;
}

.elementHover:hover {
	background-color: #F5CBA7;
}

.elementSelected {
	background-color: #F5CBA7;
}
/*************  Glyicon Sizes   *******************/

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

/*************     *******************/

.header {
	width: 100%;
}

.userLoginHeader {
	float: right;
}

.profileImage {
	display: block;
	margin: 0 auto;
	height: 200px;
}

.section100 {
	width: 100%;
}

.mainProfileSection {
	border-radius: 50px;
	border-style: dotted;
	border-color: black;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 40%;
	background-color: #E9F7EF;
}

.imageSection {
  position: relative;
  display: inline-block;
  margin:0 auto;
  padding: 0px;
}

/*
.imageSection:hover input
{
  display: block;
}
*/

input[type="file"] {
    display: none;
}

/*
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
*/

.imageSectionHover:hover input {
	display: block;
}

.buttonOverImage {
    position:absolute;
    background: rgba(0, 0, 0, 0);
    border: 0px;
  	color: white;
    display:none;
}

.buttonOverText {
    position:absolute;
    background: rgba(0, 0, 0, 0);
    border: 0px;
   	color: gray;
    display:none;
}

#changePicture {
	right: 5px;
    bottom: 2px;
}

#newImage {
	left: 5px;
    bottom: 2px;
}

#saveImage {
	right: 5px;
    bottom: 2px;
}

#setImage {
	right: 5px;
	bottom: 2px;
}

#browseImage {
	right: 5px;
	bottom: 2px;
}

#editName {
	right: 5px;
	bottom: 2px;
}

#saveName {
	right: 5px;
	bottom: 2px;
}

#saveCrop {
	right: 5px;
	bottom: 2px;
}

#cancelCrop {
	left: 5px;
    bottom: 2px;	
}

.imageCarousel {
	 display: none; 
	 margin: 0 auto; 
}

.profileName {
	position: relative;
	display: inline-block;
  margin:0 auto;
  padding: 0px;
}

.displayName {
	font-style: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-style: dotted;
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.displayNameHover:hover {
	border-color: black;
}

.profileNameHover:hover input {
	display:block;
}

.socialSection {
	text-align: center;
	border-radius: 5px;
	border-style: dotted;
	border-color: black;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 30%;
}
.socialSection ul li {
	display: inline;
}

.socialSection ul {
	list-style: none;
	padding: 0;
}

.socialImageSection {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.socialImage {
	width: 80px;
	height: 80px;
}

.socialTick {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 40px;
	height: 40px;
}

.subHeading {
	font-size: 1.5em;
	text-align: center;
}

.numFollowers {
	font-style: sans-serif;
	font-size: 1.5em;
}

.followers {
	font-style: serif;
	font-size: 1.4em;
}

.followButton {
	text-decoration: none;
	background-color: #42c8f4;
	padding: 5px;
	color: white;
	font-size: 1.2em;
}

.followSection {
	text-align: center;
}

/* Tab Titles */
.nav li {
	font-size: 2em;
	background-color: transparent;
}

.social a {
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 43px;
    height: 43px;
    display: inline-block;
    padding-top: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}

.googleplus {
    
    background: #dd4b39;
    color: #ffffff;
}
.googleplus {
    background: #dd4b39;
    color: #ffffff;
}

.linkedin {
    background: #0976b4;
    color: #ffffff;
}

.github {
    background: #333;
    color: #999;
}
.facebook{
	color: #ffffff;
	background: #3b5998;
}
.twitter {
    background: #55acee;
    color: #ffffff;
}

/****************** New Entry ***********************/

/*
input[type=range] {
	display: inline;
	width: 200px;
}
*/
.rangeInput {
	float: right;
}

.rangeStart {
	/*float: left;*/
	display: inline;
}

.rangeEnd {
	/*float: right;*/
	display: inline;
}
.stepSection {
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
	border-style: dotted;
	border-width: 0.5px;
	background-color: #FDF2E9;
}



.stepContent {
	padding: 10px;
	width: 90%;
	margin: 0 auto;
}

.stepNavigation {
	float: right;
}

/* Changing the look and feel of the select element to match bootstrap - see http://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript */
select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}

.tabContainer {
	width: 90%;
	margin: 0 auto;
}

/****************** GLOBAL RULES *************************/

/* Limit image width to avoid overflow the container
	as recommnded by cropper - see https://github.com/fengyuanchen/cropper
	*/
img {
	max-width: 100%;
}

.mycheckbox input[type=checkbox] {
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 7px;
	font-size: 1.4em;
}

.mycheckbox {
	font-size: 1.4em;
	font-weight: bold;
}

.settingsSubBlock p {
	font-size: 1.4em;
	font-weight: normal;
}

.formCaption {
	margin-top: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

/* Overload bootstrap */
.form-control {
	font-size: 1.4em;
	height: 50px;
}

/*
.btn {
	font-size: 1.4em;
	height: 50px;
}
*/

/*********************** COMMENTS LIST ************************/

.commentsList {
	width: 80%;
	margin: 0 auto;
	background-color: #e6f9ff;
}

.commentsTable {
	width: 100%;
}

.commentsRow {

}

.commentsLeftColumn {
	width: 150px;
	text-align: right;
	vertical-align: top;
	padding: 10px;
}

.commentsRightColumn {
	padding: 10px;
}

.commentPostedDate {

}

.replyElement {
	margin-left: 40px;
}

.likeButtonSimple {
	background: none;
	color: #1155cc;
	font-weight: normal;
	border: none;
	padding: 0;
	cursor: pointer;
	padding: 5px;
}

.likeButtonSimple.active {
	background: none;
	color: #1155cc;
	font-weight: bold;
	border: none;
	padding: 0;
	cursor: pointer;
	padding: 5px;
}

/* STEP WIZARD - see https://bootsnipp.com/snippets/e3MBM */

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard-header {
    display: flex;
  	justify-content: space-between;
  	margin: 10px 10px;
}
.stepwizard-header:before {
    top: 24px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard {
    display: table;
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/*. New Entry Workflow */

.stepHeader #prevButton {
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.stepHeader #nextButton {
	float: right;
	display: table-cell;
	vertical-align: middle;
}

.stepHeader {
	text-align: center;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: table
}

/*
.stepHeader {
	 overflow: auto; 
	padding: 5px;
}
*/

.stepTitle {
	display: inline-block;
	font-family: serif;
	font-size: 2em;
	font-weight: bold;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}

/******************* MODAL WINDOW *******************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/************************** Item / Post **************************/

.DropDown {
	display: inline-block;
}
.itemDropdownMenu {
	
	position: absolute;
	top: 5px;
	right: 5px;
	
	/* float: right; */
}

.itemDropdownMenuList2 {
	position: relative;
	z-index: 1;
}

.itemDropdownButton {
	background: transparent;
	border: 0px;
}

/************************* Likers Popup *************************/

.likerImage {
	height: 50px;
	margin-right: 10px;
	border-radius: 10%;
}

/************************ Social ***************************/

.socialIcon {
	height: 50px;
}
