.title {
	text-align: center;
	font-family: arial;	
	font-size: 40px;
	font-weight: bold;
}

.subTitle {
	text-align: center;
	font-family: arial;	
	font-size: 30px;
	font-weight: bold;
}

.creationDate {
	font-family: arial;
	font-size: 30px;
	font-style: italic;
}

.sectionHeader {
	text-align: center;
	font-family: arial;	
	font-size: 30px;
	font-weight: bold;
}

.submitButton {
	font: bold 24px arial;
	font-weight: bold;
	display: inline-block;
	margin: auto;
	text-align: center;
}

#dropzone {
	position: relative;
	border: 10px dotted gray;
	border-radius: 20px;
	color: gray;
	font: bold 24px/200px arial;
	height: 200px;
	margin: 30px auto;
	text-align: center;
	width: 200px;
}

.settingsBlock {
	margin: auto;
	width: 60%;
	font: 22px arial;
}

.settingsSubBlock {
	margin: auto;
	width: 100%;
	font: 20px arial;
}

.selectImageSection {
	margin: auto;
	width: 60%;
	text-align: center;
	font: 24px/200px arial;
}

.gridTable {
	width: 100%;
}

.textArea {
	font: 24px arial;
}

.center {
	margin: auto;
	width: 60%;
	text-align: center;
}

.centerImage {
    display: block;
    margin: auto;
	max-width: 60%;
}

.centerDiv {
	width: 500px;
	position: absolute;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.signInTextHeader {
	float: right;
	font-family: arial;	
	font-size: 15px;
	font-weight: bold;
}

.signOutTextHeader {
	float: right;
	font-family: arial;	
	font-size: 15px;
	font-weight: bold;
}

.userInfoText {
	font: 30px arial;
	font-weight: bold;
}

.userInfoImage {
	float: right;
}

.userNameHeader {
	float: right;
	font-family: arial;	
	font-size: 15px;
	font-weight: bold;
}

.userImageHeader {
	float: right;
	height: 50px;
}

/************** Main Image *******************/

.clear { clear:  both; }

.mainElement {
	width: 70%;
	margin: 0 auto;
}

.postedBySection {
	width: 90%;
	position: relative;
	overflow: auto;
	margin: 0 auto;
}

.postedByDate {
	float: left;
	font-size: 1 em;
	font-family: sans-serif;
	font-style: italic;

	/* below is a trick to vertically center the date - see http://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
	position: absolute;
	left: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.postedBy {
	float: right;
}

.postedByName {
	font-size: 1 em;
}

.postedByImage {
	height: 50px;
	margin: 3px 2px;
}

.mainImage {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.mainEntry {
	border-radius: 10px;
	border-style: dotted;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 70%;
}

.socialStatus {
	float: left;
}

.socialStatusSection {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	overflow: auto;
}

.forceOverflow {
	overflow: auto;
}

.socialActionSection {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	overflow: auto;
}

.socialActionButton {
	background-color: #5DADE2;
	margin: 10px 5px;
}

.thumbnailTitle {
	font-size: 2em;
	font-family: sans-serif;
	text-align: center;
	width: 90%;
	display: block;
	margin: 0 auto;
}

.captionSection {
	width: 90%;
	margin: 0 auto;
	background-color: #EAECEE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	padding: 10px;
}

.caption {
	font-size: 2em;
	font-style: italic;
	font-family: serif;
}

.scrollableElement {
	border-radius: 5px;
	border-color: black;
	border-style: dotted;
	border-width: 0.5px;
	margin: 20px;
	padding: 10px;
}

.thumbnailElement {
	border-radius: 5px;
	border-color: black;
	border-style: dotted;
	border-width: 0.5px;
	margin: 10px;
	padding: 5px;
}

.elementHover:hover {
	background-color: #F5CBA7;
}

.elementSelected {
	background-color: #F5CBA7;
}
/*************  Glyicon Sizes   *******************/

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

/*************     *******************/

.header {
	width: 100%;
}

.userLoginHeader {
	float: right;
}

.profileImage {
	display: block;
	margin: 0 auto;
	height: 200px;
}

.profileInfo {
	width: 100%;
	text-align: center;
}

.mainProfileSection {
	border-radius: 50px;
	border-style: dotted;
	border-color: black;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 40%;
	background-color: #E9F7EF;
}

.imageSection {
  position: relative;
  display: inline-block;
  margin:0 auto;
  padding: 0px;
}

/*
.imageSection:hover input
{
  display: block;
}
*/

.imageSectionHover:hover input {
	display: block;
}

.buttonOverImage {
    position:absolute;
    background: rgba(0, 0, 0, 0);
    border: 0px;
   	color: white;
    display:none;
}

.buttonOverText {
    position:absolute;
    background: rgba(0, 0, 0, 0);
    border: 0px;
   	color: gray;
    display:none;
}

#changePicture {
	right: 5px;
    bottom: 2px;
}

#newImage {
	left: 5px;
    bottom: 2px;
}

#saveImage {
	right: 5px;
    bottom: 2px;
}

#setImage {
	right: 5px;
	bottom: 2px;
}

#browseImage {
	right: 5px;
	bottom: 2px;
}

#editName {
	right: 5px;
	bottom: 2px;
}

#saveName {
	right: 5px;
	bottom: 2px;
}

.imageCarousel {
	 display: none; 
	 margin: 0 auto; 
}

.profileName {
	position: relative;
	display: inline-block;
  margin:0 auto;
  padding: 0px;
}

.displayName {
	font-style: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-style: dotted;
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.displayNameHover:hover {
	border-color: black;
}

.profileNameHover:hover input {
	display:block;
}

.socialSection {
	text-align: center;
	border-radius: 5px;
	border-style: dotted;
	border-color: black;
	border-width: 0.5px;
	padding: 20px;
	margin: 0 auto;
	width: 30%;
}
.socialSection ul li {
	display: inline;
}

.socialSection ul {
	list-style: none;
	padding: 0;
}

.socialImageSection {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.socialImage {
	width: 80px;
	height: 80px;
}

.socialTick {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 40px;
	height: 40px;
}

.subHeading {
	font-size: 1.5em;
	text-align: center;
}

.numFollowers {
	font-style: sans-serif;
	font-size: 1.5em;
}

.followers {
	font-style: serif;
	font-size: 1.4em;
}

.followButton {
	text-decoration: none;
	background-color: #42c8f4;
	padding: 5px;
	color: white;
	font-size: 1.2em;
}

.followSection {
	text-align: center;
}

/* Tab Titles */
.nav li {
	font-size: 2em;
}

.social a {
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 43px;
    height: 43px;
    display: inline-block;
    padding-top: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}

.googleplus {
    
    background: #dd4b39;
    color: #ffffff;
}
.googleplus {
    background: #dd4b39;
    color: #ffffff;
}

.linkedin {
    background: #0976b4;
    color: #ffffff;
}

.github {
    background: #333;
    color: #999;
}
.facebook{
	color: #ffffff;
	background: #3b5998;
}
.twitter {
    background: #55acee;
    color: #ffffff;
}

/****************** New Entry ***********************/

.stepSection {
	width: 70%;
	margin: 0 auto;
	border-radius: 5px;
	border-style: dotted;
	border-width: 0.5px;
	background-color: #FDF2E9;
}

.stepHeader {
	overflow: auto;
	padding: 5px;
}

.stepTitle {
	float: left;
	font-family: serif;
	font-size: 2em;
	font-weight: bold;
}

.stepContent {
	padding: 10px;
}

.stepNavigation {
	float: right;
}

/* Changing the look and feel of the select element to match bootstrap - see http://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript */
select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}