<html>

  <head>
  <% include ./favicon_header %>
  <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
  <link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
 <title><%=pageTitle%></title>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
  </head>

  <body>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_medium.png">
		<p class="centerDisplayTitle">Let's get you signed-in.  Choose your favorite network.</p>
		<hr>
	</div>
	<div class="centerDisplayContent">
	    <a href="/auth/twitter"><img src="/images/social/sign_in_with_twitter.png"></a><br>
	    <a href="/auth/facebook"><img src="/images/social/sign_in_with_facebook.png"></a><br>
	    <a href="/auth/login"><img src="/images/social/sign_in_with_email.png"></a>
    </div>
    <div class="centerDisplayFooter">
    	<hr>
    	<p>Rest assured that Captionify.com will <b>never</b> post to your networks without your explicit consent.</p>
    </div>
</div>

  </body>

</html>