<html>

  <head>
  <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
  <link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
 <title><%=pageTitle%></title>
  </head>

  <body>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_medium.png">
		<p class="centerDisplayTitle">Let's get you signed-in.  Choose your favorite network.</p>
		<hr>
	</div>
	<div class="centerDisplayContent">
	    <a href="/auth/twitter"><img src="/images/social/sign_in_with_twitter.png"></a><br>
	    <a href="/auth/facebook"><img src="/images/social/sign_in_with_facebook.png"></a><br>
	    <a href="/auth/login"><img src="/images/social/sign_in_with_email.png"></a>
    </div>
    <div class="centerDisplayFooter">
    	<hr>
    	<p>Rest assured that Captionify.com will <b>never</b> post to your networks without your explicit consent.</p>
    </div>
</div>

  </body>

</html>