<html>

  <head>
  <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
  <link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
 <title><%=pageTitle%></title>
  </head>

  <body>

<div class="centerDisplay">
	<img src="/images/branding/captionify_logo_small.png">
	<p class="centerDisplayTitle">Let's get you signed-in.  Choose your favorite network.</p><br>
    <a href="/auth/twitter"><img src="/images/social/sign_in_with_twitter.png"></a><br>
    <a href="/auth/facebook"><img src="/images/social/sign_in_with_facebook.png"></a><br><br>
    <p class="centerDisplayFooter">Rest assured that Captionify.com will <b>never</b> post to your networks without your explicit consent.</p>
</div>

  </body>

</html>