<html>
<head>
<title>Delphinus - Challenge</title>
</head>
<body>
<div id="challenge">
</div>
should be picked
<script>
	var challengeId = <%= challengeId %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/challenge.js"></script>
</body>
</html>