<html>
<head>
<title>Delphinus - Challenge</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<div id="challenge" style="text-align: center;">
	<span id="challengeTitle" class="title"></span><br>
	<span id="challengeCreationDate" class="creationDate"></span><br>
	<span id="challengePostedBy" class="postedBy"></span><br>
	<img id="challengeImage" class="centerImage">
</div>
<br><br>
<div id="entries">
  <span class="sectionHeader">Entries</span><br>
    <table id="entriesTable" class="gridTable">
  </table>
</div>
<br><br>
<div class="center">
	<input type="button" value="Post Entry to this Challenge!" class="submitButton" id="postEntry">
	<input type="button" value="Go Back to Home Page" class="submitButton" id="goToHomePage">
</div>
<script>
	var challengeId = <%= challengeId %>;
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/challenge.js"></script>
<script src="/js/header.js"></script>
</body>
</html>