<html>
<head>
<% include ./metadata %>

<title><%=pageTitle%></title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<% include ./header %>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-2 col-md-offset-1 fixed">
		<% include ./shortcutsSidebar %>
		<div id="leftMiddleSidebar">
		</div>
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<div id="main">
		</div>
		<hr/>
		<div id="tabs">
		</div>
	</div>
	<div class="col-md-2 col-md-offset-8 fixed">
		<% include ./createEntrySidebar %>
	</div>
	<div class="col-md-1 fixed col-md-offset-10">
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script>
	var challengeId = '<%=challengeId%>';
	var entityId = challengeId;
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/challenge.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils/sidebar.js"></script>
<script src="/js/utils/container.js"></script>
<script src="/js/utils/postElements.js"></script>
<script src="/js/utils/general.js"></script>
<script src="/js/utils/social.js"></script>
<script src="/js/utils/comments.js"></script>
<script src="/js/utils/menuAndPopup.js"></script>
<script src="/js/utils/timelapse.js"></script>
<script src="/js/utils/deletePost.js"></script>
</body>
</html>