<div id="challengesSidebar" class="sidebar">
	<div class="sidebarHeading">Challenges</div>
	<div class="sidebarContent">
		<a class="sidebarLink" href="/newchallenge">Post Challenge</a>
		<a class="sidebarLink" href="/challenges">Browse Challenges</a>
	</div>
</div>