<html>
<head>
<title>Delphinus - Challenge</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<% include ./header %>

<div id="main">
	<h1 id="mainTitle" class="title"></h1>
	<!--
	<div class="mainEntry">
		<div id="postedBySection" class="postedBySection">
			<span id="postedDate" class="postedDate"></span>
			<div id="postedBy" class="postedBy">
				<span id="postedByName" class="postedByName"></span>
				<img id="postedByImage" class="postedByImage">
			</div>

		</div>
		<img id="mainImage" class="mainImage">
		<div class="socialStatusSection">
			<div class="socialStatus">
				<span id="numLikes" class="glyphicon glyphicon-thumbs-up gi-2x">34  </span>
				<span id="numShares" class="glyphicon glyphicon-share-alt gi-2x">4  </span>
				<span id="numComments" class="glyphicon glyphicon-comment gi-2x">45  </span>
			</div>
		</div>
	</div>
	<div class="socialActionSection">
		<button id="likeButton" type="button" class="btn btn-primary btn-lg socialActionButton">
			<span class="glyphicon glyphicon-thumbs-up"></span> Like
		</button>
		<button id="shareButton" type="button" class="btn btn-primary btn-lg socialActionButton">
			<span class="glyphicon glyphicon-share-alt"></span> Share
		</button>
		<button id="commentButton" type="button" class="btn btn-primary btn-lg socialActionButton">
			<span class="glyphicon glyphicon-comment"></span> Comment
		</button>
	</div>
	-->
</div>

<br><br>
<div id="tabs" class="container">
	<ul class="nav nav-tabs">
	</ul>

	<div class="tab-content">
	</div>
</div>


<script>
	var challengeId = <%= challengeId %>;
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/challenge.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>
</body>
</html>