<div id="challengesSidebar" class="sidebar">
	<div class="sidebarHeading">Challenges</div>
	<div class="sidebarContent">
		<div class="sidebar-item hoverable">
			<a href="/newchallenge">Post Challenge</a>
		</div>
		<div class="sidebar-item hoverable">
			<a href="/challenges">Browse Challenges</a>
		</div>
	</div>
</div>