<html>
<head>
<title>Delphinus - Challenge</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<div id="challenge" style="text-align: center;">
<b><span id="challengeTitle" class="challengeTitle"></span></b><br>
<span id="challengeCreationDate" class="challengeCreationDate"></span><br>
<img id="challengeImage">


</div>
<script>
	var challengeId = <%= challengeId %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/challenge.js"></script>
</body>
</html>