<!DOCTYPE html>
<html>

  <head>
  <% include ./favicon_header %>
  <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
 <title>About | Captionify.com</title>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
  </head>

  <body>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_medium.png">
		<p class="centerDisplayTitle">Howdy! We're coming soon :)</p>
		<hr>
	</div>
	<div class="centerDisplayContent">
	    <img src="/images/static/coming_soon_md.png">
	    <p>Captionify.com is a social platform for the creative wizards out there!  We are currently busy testing our beta site, but will be coming to you soon!  Don't forget to bookmark this page and come back later :)</p>
    </div>
    <div class="centerDisplayFooter">
    	<hr>
    	<p>Want to participate in our beta? <a href="mailto:beta@captionify.com">Let us know</a>
    </div>
</div>

  </body>

</html>