<!DOCTYPE html>
<html>
<head>
    <title>Contact Us | Captionify.com</title>
    <% include ./favicon_header %>
  
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
<style>
        body        { padding-top:80px; }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');

</script>
</head>
<body>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_medium.png">
		<p class="centerDisplayTitle">Let us know what you have on your mind!</p>
		<hr>
	</div>
	<div class="centerDisplayContent">

	        <div class="form-group">
	           	<p class="centerDisplayCaption">Your Name:</p>
	            <input id="nameText" type="text" class="form-control" name="name">
	        </div>
	        <div class="form-group">
	            <p class="centerDisplayCaption">Your Email:</p>
	            <input id="emailText" type="text" class="form-control" name="email">
	        </div>
	        <div class="form-group">
	            <p class="centerDisplayCaption">Your Subject:</p>
	            <input id="subjectText" type="text" class="form-control" name="subject">
	        </div>
	        <div class="form-group">
	            <p class="centerDisplayCaption">Your Message:</p>
	            <textarea id="messageText" rows="5" class="form-control" placeholder="Enter your message here..."></textarea>
	        </div>

	        <button id="submitButton" class="btn button-full">Send Message</button>
	    
    </div>
    <div class="centerDisplayFooter">
    	<hr>
    	<p>Return to the <a href="/">home page</a>.</p>
    </div>

</div>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils.min.js"></script>
<script src="/js/contact.min.js"></script>
</body>
</html>