<div id="createEntrySidebar" class="sidebar">
	<span class="sidebarHeading">Feeling inspired?  Post your Caption now!</span>
	<p>Up for the challenge?  Let your creative juices flow and create your Caption Entry now!</p>
	<button id="createCaption" type="button" class="btn button-full">Captionify</button>
</div>