<div id="createCaptionSidebar" class="sidebar">
	<div class="sidebarHeading">Create your caption!</div>
	<div class="sidebarContent">
		<p class="text-plain-medium">Let your creative juices flow and create your own caption entry now!  It takes just a few seconds!</p>
		<button class="button-full">Create Caption</button>
	</div>
</div>