<div id="entriesSidebar" class="sidebar">
	<div class="sidebarHeading">Caption Entries</div>
	<div class="sidebarContent">
		<div class="sidebar-item">
			<a href="/newentry">Post Caption Entry</a>
		</div>
		<div class="sidebar-item">
			<a href="/entries">Browse Entries</a>
		</div>
	</div>
</div>