<div id="entriesSidebar" class="sidebar">
	<div class="sidebarHeading">Caption Entries</div>
	<div class="sidebarContent">
		<a class="sidebarLink" href="/newentry">Post Caption Entry</a>
		<a class="sidebarLink" href="/entries">Browse Entries</a>
	</div>
</div>