<html>
<head>
<title>Entries</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<% include ./header %>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-2 col-md-offset-1 fixed">
		<% include ./shortcutsSidebar %>
		<div class="sidebar" id="categoriesSidebar">
		</div>
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div id="entries" class="col-md-5 col-md-offset-2">
	</div>
	<div class="col-md-3 col-md-offset-8 fixed">
		<div class="sidebar" id="popularEntriesSidebar">
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script>
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/entries.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>
</body>
</html>