<html>
<head>
<title>Delphinus - Entry</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<% include ./header %>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
<div id="main" class="section">
	<h1 id="mainTitle" class="title"></h1>
</div>

</div>
<br><br>

<script>
	var entryId = '<%=entryId%>';
	var entityId = entryId;
	var challengeId = '<%=challengeId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/entry.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>
</body>
</html>