<html>
<head>
<title>Delphinus - Entry</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="entry" style="text-align: center;">
<span id="entryTitle" class="title"></span><br>
<span id="entryCreationDate" class="creationDate"></span><br>
<img id="entryImage">
</div>
<script>
	var entryId = <%= entryId %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/entry.js"></script>
</body>
</html>