<html>
<head>
<% include ./metadata %>

<title>Delphinus - Entry</title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<% include ./header %>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-2 col-md-offset-1 fixed">
		<% include ./shortcutsSidebar %>
		<% include ./entriesSidebar %>
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<div id="main">
		</div>
		<hr/>
		<div id="tabs">
		</div>
	</div>
	<div class="col-md-2 col-md-offset-8 fixed">
		<div id="rightTopSidebar">
		</div>
		<div id="rightMiddleSidebar">
		</div>
	</div>
	<div class="col-md-1 fixed col-md-offset-10">
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>


<script>
	var entryId = '<%=entryId%>';
	var entityId = entryId;
	var challengeId = '<%=challengeId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/entry.min.js"></script>
<script src="/js/header.min.js"></script>
<script src="/js/utils.min.js"></script>
</body>
</html>