
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
	  <div class="row">
	  	<div class="col-md-1">
	  	</div>
	  	<div class="col-md-9">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/"><img src="/images/branding/captionify_logo_tiny_inverse.png"></a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		      
		      <li><a href="/help" class="navbar-link">Help</a></li>
		      <li id="userNavbarItem" class="dropdown">
		        <a class="dropdown-toggle navbar-link" data-toggle="dropdown" href="#">Sign in
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		        </ul>
		      </li>
		    </ul>
	    </div>
	    <div class="col-md-2">
	  	</div>
	  </div>
  </div>
</nav>