<nav id="navbar" class="navbar navbar-static-top span12">
            <a class="navbar-brand" href="/">Delphinus</a>

                <ul id="navbar-nav" class="nav navbar-nav">
                    <li><a href="/challenges">Challenges</a></li>
                    <li><a href="/entries">Entries</a></li>
                    <li><a href="/entries">Filters</a></li>
                    <li><a href="/users">Users</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/about">About</a></li>
                            <li><a tabindex="-1" href="/contact">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
    </nav>