<!DOCTYPE html>
<html>

  <head>
  <% include ./favicon_header %>
  <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
 <title>About | Captionify.com</title>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
  </head>

  <body>
  	<% include ./header %>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_medium.png">
		<p class="centerDisplayTitle">So what's the whole deal?  Here are some tidbits for you.</p>
		<hr>
	</div>
	<div class="centerDisplayContentLeft">
	    
	    <p>Captionify.com is a platform, a platform for people to post and participate in creative challenges.</p>
	    <br>
	    <p class="centerDisplayCaption">Posting Challenges</p>
	    <p>A challenge is a post that includes an image along with a challenge message.  The image is the core element of the challenge on which the challenge is centered, and the message identifies what exactly the challenge ask is.  The message would typically be a question that prompts the participants to come up with an appropriate caption for the challenge image.</p>
	    <p>When posting a challenge a category can be selected to identify what the challenge theme is.  That makes it easier for participants to find challenges that match categories of their interest.</p>

	    <br>
	    <p class="centerDisplayCaption">Participating in Challenges</p>
	    <p>Any user can participate in a challenge by selecting the 'Captionify' option.  When participating in a challenge, you can specify the caption text as your response to the challenge message.  You can also apply a number of other filters to the challenge image to support your response, such as changing the layout of the image, applying image filters, or adding borders.  The final entry can then be posted as a response to the challenge.</p>

	    <br>
	    <p class="centerDisplayCaption">Posting Independent Entries</p>
	    <p>Other than posting entries in response to challenges, you can also post independent entries.  Such entries can be posted by selecting the 'Post Caption' option.  You can either select a design as the base image, or can also post an image of your choosing by browsing / dragging-dropping from your computer.  Once the design or image is selected, you can proceed to add a caption and apply filters just like you would for challenges before posting the entry.</p>
    </div>
    <div class="centerDisplayFooter">
    	<hr>
    	<p>Return to the <a href="/">home page</a>
    </div>
</div>

  </body>

</html>