<html>
<head>
<title>Delphinus</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<div id="challenges">
  <span class="sectionHeader">Challenges</span><br>

  <table id="challengesTable" class="gridTable">
  </table>
</div>
<br><br>
<div class="center">
  <button class="submitButton" id="postChallenge">Post a New Challenge!</button>
</div>
<br><br>
<div id="entries">
  <span class="sectionHeader">Entries</span><br>
    <table id="entriesTable" class="gridTable">
  </table>
</div>
<script>
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/index.js"></script>
<script src="/js/header.js"></script>
</body>
</html>