<html>
<head>
<title>Delphinus</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<div id="challenges">
  <span class="sectionHeader">Challenges</span><br>

  <table id="challengesTable">
  </table>
</div>


<div id="entries">
  <span class="sectionHeader">Entries</span><br>
    <table id="entriesTable">
  </table>
</div>


<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>