<html>
<head>
<% include ./metadata %>
<title><%=pageTitle%></title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<% include ./header %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2 fixed col-md-offset-1">
			<% include ./shortcutsSidebar %>
			<% include ./challengesSidebar %>
			<% include ./entriesSidebar %>
			<div id="leftMiddleSidebar">
			</div>
			<div class="sidebar">
				<span class="sidebarHeading">Ad Space</span>
			</div>
		</div>
		<div id="feed" class="col-md-5 col-md-offset-2">
		</div>
		<div class="col-md-2 fixed col-md-offset-8">
			<div id="rightSidebar">
			</div>
		</div>
		<div class="col-md-1 fixed col-md-offset-10">
			<div class="sidebar">
				<span class="sidebarHeading">Ad Space</span>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
	
<script>
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/tether/js/tether.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/index.min.js"></script>
<script src="/js/header.min.js"></script>
<script src="/js/utils.min.js"></script>

</body>
</html>