<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"
  </head>

  <body>
  <ul>
    <li><a href="/auth/google">Sign In with Google</a></li>
    <li><a href="/auth/twitter">Sign In with Twitter</a></li>
    <li><a href="/auth/local">Sign In with Email</a></li>
  </ul>
  </body>

</html>