<html>
<head>
<title>Delphinus - New Challenge</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>

<div class="title">New Challenge</div><br>

<img id="newchallengeimage" />
	
<div class="sectionHeader">Challenge Image</div><br>
<div class="selectImageSection">
	<div id="dropzone" class="dropZone">Drop Image here</div>
	<input type="file" id="files" class="fileBrowse" name="files[]" value="Browse"><br>
</div>
<output id="list"></output>
<br><br>

<div class="sectionHeader">Caption</div><br>
<div class="center">
	<textarea rows="2" cols="50" class="textArea" id="caption">Enter your caption here</textarea><br>
</div>

<br><br>
<div class="center">
	<button class="submitButton" id="postChallenge">Post!</button>
</div>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/newchallenge.js"></script>
</body>
</html>