<html>
<head>
<title>Delphinus - New Challenge</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>

<div class="title">New Challenge</div><br>
	
<div class="sectionHeader">Challenge Image</div><br>
<div class="selectImageSection" id="selectImage">
	<div id="dropzone" class="dropZone">Drop Image here</div>
	<input type="file" id="files" class="fileBrowse" name="files[]" value="Browse"><br>
</div>

<span>
	<img id="challengeImage" class="centerImage">
</span>

<div class="sectionHeader">Caption</div><br>
<div class="center">
	<textarea rows="2" cols="50" class="textArea" id="caption">Enter your caption here</textarea><br>
</div>

<br><br>
<div class="center">
	<input type="button" value="Post Challenge!" class="submitButton" id="postChallenge">
	<input type="button" value="Cancel and Go Back to Home Page" class="submitButton" id="goToHomePage">
</div>
<script>
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/newchallenge.js"></script>
<script src="/js/header.js"></script>
</body>
</html>