<html>
<head>
<title>Delphinus - New Challenge</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<% include ./header %>
<div id="newchallenge" class="section100">
	<div class="section">
		<h1 id="mainTitle" class="title">New Challenge</h1>
	
		<div class="selectImageSection" id="selectImage">
			<div id="dropzone" class="dropZone">
				<p>Drop Image here</p>
				<p>OR</p>
				<label for="files" class="btn btn-default">
    				<i class="fa fa-cloud-upload"></i> Browse
				</label>
				<!-- <input type="file" id="files" name="files[]"> -->

				<input id="files" type="file"/>
			</div>
			
		</div>

		<span>
			<img id="challengeImage" class="centerImage">
		</span>
	</div>

	<div class="section40">
		<div class="form-group">
			<label class="formCaption" for="caption">Caption:</label>
			<textarea rows="2" class="form-control" id="caption" placeholder="Enter an exciting challenge caption here"></textarea>

			<label class="formCaption" for="category">Category:</label>
			<select class="form-control" id="categoryList">
  			</select>

		</div>

		
		<div class="center">
			<button type="button" class="btn btn-primary btn-lg" value="Post Challenge!" id="postChallenge">Post Challenge!</button>
		</div>
	</div>
	</div>
</div>

<script>
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/newchallenge.js"></script>
<script src="/js/header.js"></script>
</body>
</html>