<html>
<head>
<title>Delphinus - New Entry</title>
</head>
<body>
<div id="newentry">
<img id="newentryimage" />
</div>
	<b>Preset Filters</b>
	<input type="checkbox" id="checkPaint" name="preset" value="paint">Paint<br>
	<input type="checkbox" id="checkGrayscale" name="preset" value="grayscale">Grayscale<br>
	<input type="checkbox" id="checkCharcoal" name="preset" value="charcoal">Charcoal<br>
	<input type="checkbox" id="checkMosaic" name="preset" value="mosaic">Mosaic<br>
	<input type="checkbox" id="checkNegative" name="preset" value="negative">Negative<br>
	<input type="checkbox" id="checkSolarize" name="preset" value="solarize">Solarize<br>
	<input type="checkbox" id="checkMonochrome" name="preset" value="monochrome">Monochrome<br>
	<input type="checkbox" id="checkSwirl" name="preset" value="swirl">Swirl<br>
	<input type="checkbox" id="checkWave" name="preset" value="wave">Wave<br>
	<input type="checkbox" id="checkSpread" name="preset" value="spread">Spread<br>
  <input type="submit" id="apply" value="Apply">

<script>
	var challengeId = <%= challengeId %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/newentry.js"></script>
</body>
</html>