<html>
<head>
<title>Delphinus - New Entry</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/cropper/cropper.css">
<script src="https://use.fontawesome.com/6ce6a7bf69.js"></script>
</head>
<body>
<% include ./header %>
<div id="newentry" class="fullWidth" style="text-align: center;">
	<div class="imageSection">
		<img id="newentryimage" class="centerImage"/>
		<input id="saveCrop" class="buttonOverImage" type="button" value="Save"/>
		<input id="cancelCrop" class="buttonOverImage" type="button" value="Cancel"/>
	</div>
</div>

<div id="steps">
	<!-- LAYOUT SECTION -->
	<div id="stepSection" class="stepSection">
		<div id="stepHeader" class="stepHeader">
			<span id="stepTitle" class="stepTitle"></span>
			<div id="stepNavigation" class="stepNavigation">
				<button id="prevButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-prev"></span> Previous</button>
				<button id="nextButton" type="button" class="btn btn-primary">Next <span class="glyphicon glyphicon-next"></span></button>
			</div>
		</div>
		<div id="stepContent" class="stepContent">
			<div id="layoutSection">
				
				<span class="title">Step 1: Adjust Layout</span><br>
				<select id="layoutTypeSelection" class="form-control">
					<option value="none" selected="selected">None</option>
					<option value="preset">Preset</option>
					<option value="userDefined">User Defined</option>
					<option value="custom">Custom</option>
				</select>

				<!-- NONE LAYOUT SUBSECTION -->
				<div id="noneLayoutSection" class="settingsSubBlock">
				<p>No Layout Selected</p>
				</div>

				<!-- PRESET LAYOUT SUBSECTION -->
				<div id="presetLayoutSection" class="settingsSubBlock">
				</div>

				<!-- USER DEFINED LAYOUT SUBSECTION -->
				<div id="userDefinedLayoutSection" class="settingsSubBlock">
				</div>

				<!-- CUSTOM LAYOUT SUBSECTION -->
				<div id="customLayoutSection" class="settingsSubBlock" style="display: none;">
					<div class="checkbox"><input type="checkbox" id="checkboxCrop" value="crop"><b><i class="fa fa-crop" aria-hidden="true"></i> Crop</b></div>
					<div id="cropSection" class="settingsSubBlock">
						<p id="cropSectionSettings" class="sectionSettings">Not Set</p>
						<button type="button" class="btn btn-default" id="resetCropButton">Reset Crop</button>
						<button type="button" class="btn btn-default" id="editCropButton"><i class="fa fa-crop" aria-hidden="true"></i> Edit Crop</button>
					</div>
					<div class="checkbox"><input type="checkbox" id="checkboxFlip" value="flip"><b><i class="fa fa-arrows-h" aria-hidden="true"></i> Flip</b></div>
					<div id="flipSection" class="settingsSubBlock">
						<p id="flipSectionSettings" class="sectionSettings">Not Set</p>
						<button type="button" class="btn btn-default" id="flipHorizontalButton"><i class="fa fa-arrows-h" aria-hidden="true"></i> Flip Horizontal</button>
						<button type="button" class="btn btn-default" id="flipVerticalButton"><i class="fa fa-arrows-v" aria-hidden="true"></i> Flip Vertical</button>
					</div>
					<div class="checkbox"><input type="checkbox" id="checkboxRotate" value="rotate"><b><i class="fa fa-repeat" aria-hidden="true"></i> Rotate</b></div>
					<div id="rotateSection" class="settingsSubBlock">
						<p id="rotateSectionSettings" class="sectionSettings">Not Set</p>
						<button type="button" class="btn btn-default" id="resetRotationButton">Reset Rotation</button>
						<button type="button" class="btn btn-default" id="anticlockwise10RotationButton"><i class="fa fa-undo" aria-hidden="true"></i> Rotate 10&#176;</button>
						<button type="button" class="btn btn-default" id="anticlockwise90RotationButton"><i class="fa fa-undo" aria-hidden="true"></i> Rotate 90&#176;</button>
						<button type="button" class="btn btn-default" id="clockwise90RotationButton"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate 90&#176;</button>
						<button type="button" class="btn btn-default" id="clockwise10RotationButton"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate 10&#176;</button><br><br>
						<b>Background Color: </b><input type="color" class="btn btn-default" id="rotateColor" value="#000000">
					</div>
					<div class="checkbox"><input type="checkbox" id="checkboxShear" value="shear"><b><i class="fa fa-exchange" aria-hidden="true"></i> Shear</b></div>
					<div id="shearSection" class="settingsSubBlock">
						<p id="shearSectionSettings" class="sectionSettings">Not Set</p>
						<button type="button" class="btn btn-default" id="resetSheerButton">Reset Shear</button>
						<button type="button" class="btn btn-default" id="negative10ShearXButton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Shear 10&#176;</button>
						<button type="button" class="btn btn-default" id="positive10ShearXButton"><i class="fa fa-arrow-right" aria-hidden="true"></i> Shear 10&#176;</button>
						<button type="button" class="btn btn-default" id="negative10ShearYButton"><i class="fa fa-arrow-up" aria-hidden="true"></i> Shear 10&#176;</button>
						<button type="button" class="btn btn-default" id="positive10ShearYButton"><i class="fa fa-arrow-down" aria-hidden="true"></i> Shear 10&#176;</button>
					</div>
				</div>
			</div>

			<!-- FILTER SECTION -->
			<div id="filterSection" class="settingsBlock" style="display: none;">
				<span class="title">Step 2: Apply Filter</span><br>
				<!--
				<input type="radio" id="radioNone" name="filter" value="none"><b>None</b><br>
				<input type="radio" id="radioPreset" name="filter" value="preset" checked="checked"><b>Preset</b><br>
				<input type="radio" id="radioUserDefined" name="filter" value="user_defined"><b>User Defined</b><br>
				<input type="radio" id="radioCustom" name="filter" value="custom"><b>Custom</b>
				-->

				<select id="filterTypeSelection" class="form-control">
					<option value="none" selected="selected">None</option>
					<option value="preset">Preset</option>
					<option value="userDefined">User Defined</option>
					<option value="custom">Custom</option>
				</select>

				<!-- NONE FILTER SUBSECTION -->
				<div id="noneFilterSection" class="settingsSubBlock">
				<p>No Filter Selected</p>
				</div>

				<!-- PRESET FILTER SUBSECTION -->
				<div id="presetFilterSection" class="settingsSubBlock" style="display:none;"">

				</div>

				<!-- USER DEFINED FILTER SUBSECTION -->
				<div id="userDefinedFilterSection" class="settingsSubBlock" style="display: none;">
					<span class="subTitle">User Defined Filters</span><br>
				</div>

				<!-- CUSTOM FILTER SUBSECTION -->
				<div id="customFilterSection" class="settingsSubBlock" style="display: none;">
					<span class="subTitle">Custom Filters</span><br>
				
					<span class="subTitle">Effects</span><br>
					<input type="checkbox" id="radioPaint" name="effects" value="paint"><b>Paint</b><input id="rangePaint" type="range" min="0" max="100" value="0" step="5"><span id="paintValue"></span><br>
					<input type="checkbox" id="radioGrayscale" name="effects" value="grayscale"><b>Grayscale</b><br>
					<input type="checkbox" id="radioCharcoal" name="effects" value="charcoal"><b>Charcoal</b><input id="rangeCharcoal" type="range" min="1" max="100" value="1" step="5"><span id="charcoalValue"></span><br>
					<input type="checkbox" id="radioMosaic" name="effects" value="mosaic"><b>Mosaic</b><br>
					<input type="checkbox" id="radioNegative" name="effects" value="negative"><b>Negative</b><br>
					<input type="checkbox" id="radioSolarize" name="effects" value="solarize"><b>Solarize</b><input id="rangeSolarize" type="range" min="0" max="100" value="100" step="5"><span id="solarizeValue"></span><br>
					<input type="checkbox" id="radioMonochrome" name="effects" value="monochrome"><b>Monochrome</b><br>
					<input type="checkbox" id="radioSwirl" name="effects" value="swirl"><b>Swirl</b><input id="rangeSwirl" type="range" min="0" max="360" value="0" step="5"><span id="swirlValue"></span><br>
					<input type="checkbox" id="radioWave" name="effects" value="wave"><b>Wave</b>Amplitude<input id="rangeWaveAmp" type="range" min="0" max="100" value="100" step="5"><span id="waveAmpValue"></span><br>Wavelength<input id="rangeWaveLength" type="range" min="0" max="100" value="100" step="5"><span id="waveLengthValue"></span><br>
					<input type="checkbox" id="radioSpread" name="effects" value="spread"><b>Spread</b><input id="rangeSpread" type="range" min="0" max="100" value="0" step="5"><span id="spreadValue"></span><br>
				

					<br>
			
					<span class="subTitle">Settings</span><br>
					<b>Contrast</b>-100<input id="contrast" type="range" min="-100" max="100" value="0" step="5">100<span id="contrastValue"></span><br>
					<b>Brightness</b><input id="brightness" type="range" min="-100" max="100" value="0" step="5"><span id="brightnessValue"></span><br>
					<b>Hue</b><input id="hue" type="range" min="-100" max="100" value="0" step="5"><span id="hueValue"></span><br>
					<b>Saturation</b><input id="saturation" type="range" min="-100" max="100" value="0" step="5"><span id="saturationValue"></span><br>
				</div>

			</div>
			<br>

			<!-- ARTIFACT SECION -->
			<div id="artifactSection" class="settingsBlock" style="display: none;">
				<span class="title">Step 3: Add Artifacts</span><br>
				<input type="radio" id="radioArtifactNone" name="artifact" value="none" checked="checked"><b>None</b><br>
				<input type="radio" id="radioArtifactPreset" name="artifact" value="preset"><b>Preset</b><br>
				<input type="radio" id="radioArtifactUserDefined" name="artifact" value="user_defined"><b>User Defined</b><br>
				<input type="radio" id="radioArtifactCustom" name="artifact" value="custom"><b>Custom</b>
				
				<!-- NONE ARTIFACT SUBSECTION -->
				<div id="noneArtifactSection" class="settingsSubBlock">
				<p>No Artifact Selected</p>
				</div>

				<!-- PRESET ARTIFACT SUBSECTION -->
				<div id="presetArtifactSection" class="settingsSubBlock">
				<p>Preset Artifacts</p>
				</div>

				<!-- USER DEFINED ARTIFACT SUBSECTION -->
				<div id="userDefinedArtifactSection" class="settingsSubBlock" style="display: none;">
					<span class="subTitle">User Defined Artifacts</span><br>
				</div>

				<!-- CUSTOM ARTIFACT SUBSECTION -->
				<div id="customArtifactSection" class="settingsSubBlock" style="display: none;">
					<input type="checkbox" id="checkboxBanner" name="artifact" value="banner"><b>Add Banner</b>
					<div id="bannerSection">
						<b>Banner Text:</b><input type="text" id="textBanner">
						<b>Font Size</b><input type="number" id="bannerTextFontSize" value="30">
						<b>Font Name</b><select id="bannerTextFontName">
											<option value="arial">Arial</option>
											<option value="times">Times</option>
											<option value="courier">Courier</option>
											</select>
						<b>Text Color</b><input type="color" id="bannerTextColor" value="#000000"><br>
						<b>Banner Location:</b><input type="radio" id="radioBannerLocationBottom" name="banner" value="bannerLocationBottom" checked="checked"><b>Bottom</b>
						<input type="radio" id="radioBannerLocationTop" name="banner" value="bannerLocationTop"><b>Top</b><br>

						<b>Background Color</b><input type="color" id="bannerBackgroundColor" value="#FFFFFF">
					</div>
				</div>
			</div>
			<br>

			<!-- DECORATION SECTION -->
			<div id="decorationSection" class="settingsBlock" style="display: none;">
				<span class="title">Step 4: Add Decorations</span><br>

				<input type="radio" id="radioDecorationNone" name="decoration" value="none" checked="checked"><b>None</b><br>
				<input type="radio" id="radioDecorationPreset" name="decoration" value="preset"><b>Preset</b><br>
				<input type="radio" id="radioDecorationUserDefined" name="decoration" value="user_defined"><b>User Defined</b><br>
				<input type="radio" id="radioDecorationCustom" name="decoration" value="custom"><b>Custom</b>

				<!-- NONE DECORATION SUBSECTION -->
				<div id="noneDecorationSection" class="settingsSubBlock">
				<p>No Decoration Selected</p>
				</div>

				<!-- PRESET DECORATION SUBSECTION -->
				<div id="presetDecorationSection" class="settingsSubBlock">
				<p>Preset Decorations</p>
				</div>

				<!-- USER DEFINED DECORATION SUBSECTION -->
				<div id="userDefinedDecorationSection" class="settingsSubBlock" style="display: none;">
					<span class="subTitle">User Defined Decorations</span><br>
				</div>

				<!-- CUSTOM DECORATION SUBSECTION -->
				<div id="customDecorationSection" class="settingsSubBlock" style="display: none;">
					<input type="checkbox" id="checkboxBorder" name="border" value="border"><b>Add Border</b>
					<div id="borderSection">
						<b>Border Width:</b><input type="number" id="borderWidth" value="0">
						<b>Border Color</b><input type="color" id="borderColor" value="#000000">
					</div>
					
				</div>
			</div>
			<div id="postSection" class="settingsBlock" style="display: none;">
			<input type="button" value="Post Entry!" class="btn btn-primary" id="apply">
			</div>
		</div>
	</div>
</div>

<div id="backpack" style="display:hidden;"">
	
</div>

<br><br>

</div>
	
</div>
<script>
	var challengeId = '<%=challengeId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/cropper/cropper.js"></script>
<script src="/js/newentry.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>

</body>
</html>