<html>
<head>
<title>Delphinus - New Entry</title>
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/css/cropper/cropper.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script src="https://use.fontawesome.com/6ce6a7bf69.js"></script>
</head>
<body>
<% include ./header %>

<div class="centerDisplay">
	<!-- HEADER -->
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_small.png">
		<p id="titleMessage">Let's get ready to post an awesome Caption entry!</p>
	</div>
	<hr>

	<!-- CONTENT -->
	<div class="centerDisplayContent">

<div id="newentry" class="fullWidth" style="text-align: center;">
	<div class="imageSection">
		<img id="newentryimage" class="centerImage"/>
		<input id="saveCrop" class="buttonOverImage" type="button" value="Save"/>
		<input id="cancelCrop" class="buttonOverImage" type="button" value="Cancel"/>
	</div>
</div>

<div id="steps" class="stepwizard">

		<div class="stepwizard-header">
	      <div class="stepwizard-step">
	        <a href="#captionSection" type="button" class="btn btn-primary btn-circle">1</a>
	        <p>Caption</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#artifactSection" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
	        <p>Place Caption</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#layoutSection" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
	        <p>Adjust Layout</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#filterSection" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
	        <p>Apply Filters</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#decorationSection" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
	        <p>Add Border</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#postSection" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
	        <p>Post!</p>
	      </div>
	    </div>
	  
	
		<div id="stepHeader" class="stepHeader">
			<button id="prevButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
			<span id="stepTitle" class="stepTitle"></span>
			<button id="nextButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></button>
		</div>

		<div id="stepContent" class="stepContent">

			<!-- CAPTION SECTION -->
			<div id="captionSection" class="setup-content">
				<div class="settingsSubBlock">
					<input type="text" id="bannerText" class="form-control" placeholder="My Awesome Caption!" required>
				</div>
			</div>

			<!-- ARTIFACT SECION -->
			<div id="artifactSection" class="setup-content" style="display: none;">
				<button type="button" class="btn btn-link" id="artifactOptionsButton">Show custom options</button>

				<!-- PRESET ARTIFACT SUBSECTION -->
				<div id="presetArtifactSection" class="settingsSubBlock">
				</div>

				<!-- CUSTOM ARTIFACT SUBSECTION -->
				<div id="customArtifactSection" class="settingsSubBlock" style="display: none;">
					<div id="bannerSection">
						<span class="settingsSubBlockTitle">Banner</span>
						<div class="settingsSubBlock">
							<b>Location:</b>
							<button type="button" class="btn btn-default" id="topBannerButton">Top</button>
							<button type="button" class="btn btn-default active" id="bottomBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Bottom</button>
							<button type="button" class="btn btn-default" id="aboveBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Above</button>
							<button type="button" class="btn btn-default" id="belowBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Below</button><br><br>
							<b>Background Color:</b>
							<button type="button" class="btn btn-default active" id="transparentBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Transparent</button>
							<input type="color" class="btn btn-default" id="bannerColorButton" value="#000000">
						</div>
						<span class="settingsSubBlockTitle">Text</span>
						<div class="settingsSubBlock">
							<b>Font:</b>
							<select id="bannerTextFontName" class="fontDropDown">
								<option value="arial">Arial</option>
								<option value="times">Times</option>
								<option value="courier">Courier</option>
							</select>
							<input type="number" id="bannerTextFontSize" value="30">
							<b>Text Color:</b>
							<input type="color" class="btn btn-default" id="bannerTextColorButton" value="#000000">
						</div>

					</div>
				</div>
			</div>

			<!-- LAYOUT SECTION -->
			<div id="layoutSection" class="setup-content" style="display: none;">
				
				<button type="button" class="btn btn-link" id="layoutOptionsButton">Show custom options</button>

				<!-- PRESET LAYOUT SUBSECTION -->
				<div id="presetLayoutSection" class="settingsSubBlock">
				</div>

				<!-- CUSTOM LAYOUT SUBSECTION -->
				<div id="customLayoutSection" class="settingsSubBlock" style="display: none;">
					<div id="customLayoutTabGroup" class="tabContainer">
						<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#crop">Crop</a>
						</li>
						<li>
							<a data-toggle="tab" href="#flip">Flip</a>
						</li>
						<li>
							<a data-toggle="tab" href="#rotate">Rotate</a>
						</li>
						<li>
							<a data-toggle="tab" href="#shear">Shear</a>
						</li>
						</ul>
						<div class="tab-content">
						<div id="crop" class="tab-pane fade in active">

							<div class="mycheckbox"><input type="checkbox" id="checkboxCrop" value="crop"><b><i class="fa fa-crop" aria-hidden="true"></i> Crop</b></div>
							<div id="cropSection" class="settingsSubBlock">
								<p id="cropSectionSettings" class="sectionSettings">Not Set</p>
								<button type="button" class="btn btn-default" id="resetCropButton">Reset Crop</button>
								<button type="button" class="btn btn-default" id="editCropButton"><i class="fa fa-crop" aria-hidden="true"></i> Edit Crop</button>
							</div>
						</div>
						<div id="flip" class="tab-pane fade in">
							<div class="mycheckbox"><input type="checkbox" id="checkboxFlip" value="flip"><b><i class="fa fa-arrows-h" aria-hidden="true"></i> Flip</b></div>
							<div id="flipSection" class="settingsSubBlock">
								<p id="flipSectionSettings" class="sectionSettings">Not Set</p>
								<button type="button" class="btn btn-default" id="flipHorizontalButton"><i class="fa fa-arrows-h" aria-hidden="true"></i> Flip Horizontal</button>
								<button type="button" class="btn btn-default" id="flipVerticalButton"><i class="fa fa-arrows-v" aria-hidden="true"></i> Flip Vertical</button>
							</div>
						</div>
						<div id="rotate" class="tab-pane fade in">
							<div class="mycheckbox"><input type="checkbox" id="checkboxRotate" value="rotate"><b><i class="fa fa-repeat" aria-hidden="true"></i> Rotate</b></div>
							<div id="rotateSection" class="settingsSubBlock">
								<p id="rotationSectionSettings" class="sectionSettings">Not Set</p>
								<button type="button" class="btn btn-default" id="resetRotationButton">Reset Rotation</button>
								<button type="button" class="btn btn-default" id="anticlockwise10RotationButton"><i class="fa fa-undo" aria-hidden="true"></i> Rotate 10&#176;</button>
								<button type="button" class="btn btn-default" id="anticlockwise90RotationButton"><i class="fa fa-undo" aria-hidden="true"></i> Rotate 90&#176;</button>
								<button type="button" class="btn btn-default" id="clockwise90RotationButton"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate 90&#176;</button>
								<button type="button" class="btn btn-default" id="clockwise10RotationButton"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate 10&#176;</button><br><br>
								<b>Background Color: </b><input type="color" class="btn btn-default" id="rotateColorButton" value="#000000">
							</div>
						</div>
						<div id="shear" class="tab-pane fade in">
							<div class="mycheckbox"><input type="checkbox" id="checkboxShear" value="shear"><b><i class="fa fa-exchange" aria-hidden="true"></i> Shear</b></div>
							<div id="shearSection" class="settingsSubBlock">
								<p id="shearSectionSettings" class="sectionSettings">Not Set</p>
								<button type="button" class="btn btn-default" id="resetShearButton">Reset Shear</button>
								<button type="button" class="btn btn-default" id="negative10ShearXButton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Shear 10&#176;</button>
								<button type="button" class="btn btn-default" id="positive10ShearXButton"><i class="fa fa-arrow-right" aria-hidden="true"></i> Shear 10&#176;</button>
								<button type="button" class="btn btn-default" id="negative10ShearYButton"><i class="fa fa-arrow-up" aria-hidden="true"></i> Shear 10&#176;</button>
								<button type="button" class="btn btn-default" id="positive10ShearYButton"><i class="fa fa-arrow-down" aria-hidden="true"></i> Shear 10&#176;</button>
							</div>
						</div>
						</div>
					</div>
					<div>
						
					</div>
					
					
				</div>
			</div>

			<!-- FILTER SECTION -->
			<div id="filterSection" class="setup-content" style="display: none;">

				<button type="button" class="btn btn-link" id="filterOptionsButton">Show custom options</button>

				<!-- PRESET FILTER SUBSECTION -->
				<div id="presetFilterSection" class="settingsSubBlock">

				</div>

				<!-- CUSTOM FILTER SUBSECTION -->
				<div id="customFilterSection" class="settingsSubBlock" style="display: none;">
					<div id="customLayoutTabGroup" class="tabContainer">
						<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#antique">Antique</a>
						</li>
						<li>
							<a data-toggle="tab" href="#distortion">Distortion</a>
						</li>
						<li>
							<a data-toggle="tab" href="#artistic">Artistic</a>
						</li>
						<li>
							<a data-toggle="tab" href="#color">Color/Contrast</a>
						</li>
						</ul>
						<div class="tab-content">
						<div id="antique" class="tab-pane fade in active">
							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxGrayscale" value="grayscale"><b><i class="fa fa-crop" aria-hidden="true"></i> Grayscale</b></div>

							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxMonochrome" value="monochrome"><b><i class="fa fa-crop" aria-hidden="true"></i> Monochrome</b></div>

							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxNegative" value="negative"><b><i class="fa fa-crop" aria-hidden="true"></i> Negative</b></div>

							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxSolarize" value="solarize"><b><i class="fa fa-crop" aria-hidden="true"></i> Solarize</b></div>
							<div id="solarizeSection" class="settingsSubBlock">
							</div>
						</div>
						<div id="distortion" class="tab-pane fade in">
							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxSpread" value="spread"><b><i class="fa fa-crop" aria-hidden="true"></i> Spread</b></div>
							<div id="spreadSection" class="settingsSubBlock">
							</div>

							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxSwirl" value="swirl"><b><i class="fa fa-crop" aria-hidden="true"></i> Swirl</b></div>
							<div id="swirlSection" class="settingsSubBlock">
							</div>

							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxWave" value="wave"><b><i class="fa fa-crop" aria-hidden="true"></i> Wave</b></div>
							<div id="waveSection" class="settingsSubBlock">
							</div>
						</div>
						<div id="artistic" class="tab-pane fade in">
							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxCharcoal" value="charcoal"><b><i class="fa fa-crop" aria-hidden="true"></i> Charcoal</b></div>
							<div id="charcoalSection" class="settingsSubBlock">
							</div>

							

							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxMosaic" value="mosaic"><b><i class="fa fa-crop" aria-hidden="true"></i> Mosaic</b></div>

							
							<div class="mycheckbox"><input type="checkbox" name="effects" id="checkboxPaint" value="paint"><b><i class="fa fa-crop" aria-hidden="true"></i> Paint</b></div>
							<div id="paintSection" class="settingsSubBlock">
							</div>

						</div>
						<div id="color" class="tab-pane fade in">
							<b><i class="fa fa-crop" aria-hidden="true"></i> Contrast</b>
							<div id="contrastSection" class="settingsSubBlock">
							</div>

							<b><i class="fa fa-crop" aria-hidden="true"></i> Brightness</b>
							<div id="brightnessSection" class="settingsSubBlock">
							</div>

							<b><i class="fa fa-crop" aria-hidden="true"></i> Hue</b>
							<div id="hueSection" class="settingsSubBlock">
							</div>

							<b><i class="fa fa-crop" aria-hidden="true"></i> Saturation</b>
							<div id="saturationSection" class="settingsSubBlock">
							</div>
						</div>
						</div>
					</div>
				</div>

			</div>
			
			<!-- DECORATION SECTION -->
			<div id="decorationSection" class="setup-content" style="display: none;">

				<button type="button" class="btn btn-link" id="decorationOptionsButton">Show custom options</button>

				<!-- PRESET DECORATION SUBSECTION -->
				<div id="presetDecorationSection" class="settingsSubBlock">
				<p>Preset Decorations</p>
				</div>

				<!-- CUSTOM DECORATION SUBSECTION -->
				<div id="customDecorationSection" class="settingsSubBlock" style="display: none;">
					<div class="mycheckbox"><input type="checkbox" name="border" id="checkboxBorder" value="border"><b><i class="fa fa-crop" aria-hidden="true"></i> Add Border</b></div>
					<div id="borderSection" class="settingsSubBlock">
						<b>Border Width:</b><input type="number" id="borderWidth" value="0">
						<b>Border Color</b><input type="color" class="btn btn-default" id="borderColor" value="#000000">
					</div>
				</div>
			</div>
			
			<!-- POST SECTION -->
			<!--
			<div id="postSection" class="settingsBlock setup-content" style="display: none;">
			<input type="button" value="Post Entry!" class="btn btn-primary" id="apply">
			</div>
			-->
		</div>


</div>

	</div>

	<!-- FOOTER -->
	<div id="postSection" class="centerDisplayFooter" style="display:none;">
		<hr>
		<button type="button" class="btn btn-lg button-full" value="postCaption" id="apply">Post Caption!</button>
		<div id="shareSection">
			<span>Also share on: </span>
			<span id="shareFacebookSection"><input type="checkbox" id="checkboxFacebook" checked>Facebook</span>
			<span id="shareTwitterSection"><input type="checkbox" id="checkboxTwitter" checked>Twitter</span>
		</div>
	</div>
</div>

<div id="backpack" style="display:hidden;"">
	
</div>

<br><br>


<script>
	var challengeId = '<%=challengeId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/cropper/cropper.js"></script>
<script src="/js/newentry.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>

</body>
</html>