<html>
<head>
<title>Delphinus - New Entry</title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/third-party/cropper/css/cropper.min.css">
<link rel="stylesheet" href="/css/styles.css">
<script src="https://use.fontawesome.com/6ce6a7bf69.js"></script>
</head>
<body>
<% include ./header %>

<br><br>
<div class="centerDisplayFull">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_small.png">
		<p id="titleMessage">Let's get ready to post an awesome Caption entry!</p>
	</div>
	<hr>
	<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-5 col-md-offset-1 fixed">
		<div id="newentry" class="fullWidth" style="text-align: center;">
			<div class="imageSection">
				<img id="newentryimage" class="centerImage"/>
				<input id="saveCropButton" class="buttonOverImage buttonOverlayRight" type="button" value="Save"/>
				<input id="cancelCropButton" class="buttonOverImage buttonOverlayLeft" type="button" value="Cancel"/>
			</div>
			<div id="cropLabel" class="text-plain-small text-bold" style="display: none;">Hover over the image above to Crop the image</div>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-5">
		<div>
	<!-- HEADER -->
	

	<!-- CONTENT -->

	<div id="steps" class="stepwizard">

		<div class="stepwizard-header">
	      <div class="stepwizard-step">
	        <a href="#captionSection" type="button" class="btn btn-primary btn-circle">1</a>
	        <p>Caption</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#artifactSection" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
	        <p>Place Caption</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#layoutSection" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
	        <p>Adjust Layout</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#filterSection" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
	        <p>Apply Filters</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#decorationSection" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
	        <p>Add Border</p>
	      </div>
	      <div class="stepwizard-step">
	        <a href="#postSection" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
	        <p>Post!</p>
	      </div>
	    </div>
	  
		<br>
		<div id="stepHeader" class="stepHeader">
			<button id="prevButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
			<button id="nextButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></button>
			<span id="stepTitle" class="text-plain-large text-bold"></span>
		</div>

		<div id="stepContent" class="stepContent">

			<!-- CAPTION SECTION -->
			<div id="captionSection" class="setup-content">
				<br>
				<div class="settingsSubBlock">
					<input type="text" id="bannerText" class="form-control" placeholder="My Awesome Caption!" required>
				</div>
			</div>

			<!-- ARTIFACT SECION -->
			<div id="artifactSection" class="setup-content" style="display: none;">
				<button type="button" class="btn button-link center" id="artifactOptionsButton">Show custom options</button>

				<!-- PRESET ARTIFACT SUBSECTION -->
				<div id="presetArtifactSection" class="settingsSubBlock">
				</div>

				<!-- CUSTOM ARTIFACT SUBSECTION -->
				<div id="customArtifactSection" class="settingsSubBlock" style="display: none;">
					<div class="lineBehindHeading"><span class="subHeading">Banner</span></div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Custom banner:</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="bannerEnabledButton">OFF</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Location:</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting" id="topBannerButton">Top</button>
							<button type="button" class="btn button-setting" id="bottomBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Bottom</button>
							<button type="button" class="btn button-setting" id="aboveBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Above</button>
							<button type="button" class="btn button-setting" id="belowBannerButton"><i class="fa fa-crop" aria-hidden="true"></i> Below</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Background Color:</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting" id="bannerColorButton">Choose</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Text font:</div>
						<div class="settingsSubBlockElements">
							<select id="bannerTextFontName" class="select-setting">
								<option value="arial">Arial</option>
								<option value="times">Times</option>
								<option value="courier">Courier</option>
							</select>
							<input type="number" id="bannerTextFontSize" value="30">
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Text color:</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting" id="bannerTextColorButton">Choose</button>
						</div>
					</div>
				</div>
			</div>

			<!-- LAYOUT SECTION -->
			<div id="layoutSection" class="setup-content" style="display: none;">
				
				<button type="button" class="btn button-link center" id="layoutOptionsButton">Show custom options</button>

				<!-- PRESET LAYOUT SUBSECTION -->
				<div id="presetLayoutSection" class="settingsSubBlock">
				</div>

				<!-- CUSTOM LAYOUT SUBSECTION -->
				<div id="customLayoutSection" class="settingsSubBlock" style="display: none;">
					
						<div class="lineBehindHeading"><span class="subHeading">Crop</span></div>
						<div id="crop" class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Crop Image:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting featureToggleButton" id="cropEnabledButton">OFF</button><br>
							</div>
						</div>
						<div class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Options:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting" id="resetCropButton">Reset Crop</button>
								<button type="button" class="btn button-setting" id="editCropButton"><i class="fa fa-crop" aria-hidden="true"></i> Edit Crop</button>
							</div>
						</div>
						<div class="lineBehindHeading"><span class="subHeading">Mirror</span></div>
						<div id="flip" class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Mirror Image:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting featureToggleButton" id="mirrorEnabledButton">OFF</button>
							</div>
						</div>
						<div class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Options:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting" id="flipHorizontalButton"><i class="fa fa-arrows-h" aria-hidden="true"></i> Flip Horizontal</button>
								<button type="button" class="btn button-setting" id="flipVerticalButton"><i class="fa fa-arrows-v" aria-hidden="true"></i> Flip Vertical</button>
							</div>
						</div>
						<div class="lineBehindHeading"><span class="subHeading">Rotation</span></div>
						<div id="rotate" class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Rotate Image:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting featureToggleButton" id="rotationEnabledButton">OFF</button>
							</div>
						</div>
						<div class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Options:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting" id="resetRotationButton">Reset Rotation</button>
								<button type="button" class="btn button-setting" id="anticlockwise10RotationButton"><i class="fa fa-undo" aria-hidden="true"></i> Rotate 10&#176;</button>
								<button type="button" class="btn button-setting" id="anticlockwise90RotationButton"><i class="fa fa-undo" aria-hidden="true"></i> Rotate 90&#176;</button>
								<button type="button" class="btn button-setting" id="clockwise90RotationButton"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate 90&#176;</button>
								<button type="button" class="btn button-setting" id="clockwise10RotationButton"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate 10&#176;</button>
							</div>
						</div>
						<div class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Background color:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting" id="rotateColorButton">Choose</button>
							</div>
						</div>
						<div class="lineBehindHeading"><span class="subHeading">Shear</span></div>
						<div id="shear" class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Shear Image:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting featureToggleButton" id="shearEnabledButton">OFF</button>
							</div>
						</div>
						<div class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Options:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting" id="resetShearButton">Reset Shear</button>
								<button type="button" class="btn button-setting" id="negative10ShearXButton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Shear 10&#176;</button>
								<button type="button" class="btn button-setting" id="positive10ShearXButton"><i class="fa fa-arrow-right" aria-hidden="true"></i> Shear 10&#176;</button>
								<button type="button" class="btn button-setting" id="negative10ShearYButton"><i class="fa fa-arrow-up" aria-hidden="true"></i> Shear 10&#176;</button>
								<button type="button" class="btn button-setting" id="positive10ShearYButton"><i class="fa fa-arrow-down" aria-hidden="true"></i> Shear 10&#176;</button>
							</div>
						</div>
						<div class="settingsSubBlock">
							<div class="settingsSubBlockCaption">Background color:</div>
							<div class="settingsSubBlockElements">
								<button type="button" class="btn button-setting" id="shearColorButton">Choose</button>
							</div>
						</div>	
				</div>
			</div>

			<!-- FILTER SECTION -->
			<div id="filterSection" class="setup-content" style="display: none;">

				<button type="button" class="btn button-link center" id="filterOptionsButton">Show custom options</button>

				<!-- PRESET FILTER SUBSECTION -->
				<div id="presetFilterSection" class="settingsSubBlock">

				</div>

				<!-- CUSTOM FILTER SUBSECTION -->
				<div id="customFilterSection" class="settingsSubBlock" style="display: none;">
					
					<!-- ANTIQUE OPTIONS -->
					<div class="lineBehindHeading"><span class="subHeading">Antique</span></div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Grayscale</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="grayscaleEnabledButton">OFF</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Monochrome</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="monochromeEnabledButton">OFF</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Negative</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="negativeEnabledButton">OFF</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Solarize</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="solarizeEnabledButton">OFF</button>
							<div id="solarizeSection" class="settingsSubBlock">
							</div>
						</div>
					</div>

					<!-- DISTORTION OPTIONS -->
					<div class="lineBehindHeading"><span class="subHeading">Distortion</span></div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Spread</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="spreadEnabledButton">OFF</button>
							<div id="spreadSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Swirl</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="swirlEnabledButton">OFF</button>
							<div id="swirlSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Wave</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="waveEnabledButton">OFF</button>
							<div id="waveSection" class="settingsSubBlock">
							</div>
						</div>
					</div>

					<!-- ARTISTIC OPTIONS -->
					<div class="lineBehindHeading"><span class="subHeading">Artistic</span></div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Charcoal</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="spreadEnabledButton">OFF</button>
							<div id="charcoalSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Mosaic</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="mosaicEnabledButton">OFF</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Paint</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="paintEnabledButton">OFF</button>
							<div id="paintSection" class="settingsSubBlock">
							</div>
						</div>
					</div>


					<!-- CONTRAST / COLOR OPTIONS -->
					<div class="lineBehindHeading"><span class="subHeading">Contrast / Color</span></div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Contrast</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="contrastEnabledButton">OFF</button>
							<div id="contrastSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Brightness</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="brightnessEnabledButton">OFF</button>
							<div id="brightnessSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Hue</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="hueEnabledButton">OFF</button>
							<div id="hueSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Saturation</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting featureToggleButton" id="saturationEnabledButton">OFF</button>
							<div id="saturationSection" class="settingsSubBlock">
							</div>
						</div>
					</div>
				</div>

			</div>
			
			<!-- DECORATION SECTION -->
			<div id="decorationSection" class="setup-content" style="display: none;">

				<button type="button" class="btn button-link center" id="decorationOptionsButton">Show custom options</button>

				<!-- PRESET DECORATION SUBSECTION -->
				<div id="presetDecorationSection" class="settingsSubBlock">
				</div>

				<!-- CUSTOM DECORATION SUBSECTION -->
				<div id="customDecorationSection" class="settingsSubBlock" style="display: none;">

					<div class="lineBehindHeading"><span class="subHeading">Border</span></div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Border around image:</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting" id="borderEnabledButton">OFF</button>
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Border Width:</div>
						<div class="settingsSubBlockElements">
							<input type="number" id="borderWidth" value="0">
						</div>
					</div>
					<div class="settingsSubBlock">
						<div class="settingsSubBlockCaption">Border Color:</div>
						<div class="settingsSubBlockElements">
							<button type="button" class="btn button-setting" id="borderColor">Choose</button>
						</div>
					</div>
				</div>
			</div>
		</div>




	<!-- FOOTER -->
	<div id="postSection" class="centerDisplayFooter" style="display:none;">
		<hr>
		<button type="button" class="btn btn-lg button-full" value="postCaption" id="apply">Post Caption!</button>
		<div id="shareSection">
			<span>Also share on: </span>
			<span id="shareFacebookSection"><input type="checkbox" id="checkboxFacebook" checked>Facebook</span>
			<span id="shareTwitterSection"><input type="checkbox" id="checkboxTwitter" checked>Twitter</span>
		</div>
	</div>
	</div>



</div>
	</div>
	<div class="col-md-1">
	</div>
</div>





<div id="backpack" style="display:hidden;"">
	
</div>

<br><br>


<script>
	var challengeId = '<%=challengeId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/third-party/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/third-party/cropper/js/cropper.min.js"></script>
<script src="/js/newentry.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>

</body>
</html>