<!DOCTYPE html>
<html>
<head>
<% include ./favicon_header %>
<title>Post a Caption Entry | Captionify.com</title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="/third-party/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/third-party/cropper/css/cropper.min.css">
<link rel="stylesheet" href="/third-party/chosen/chosen.min.css">
<link rel="stylesheet" href="/css/styles.min.css">
<script src="https://use.fontawesome.com/6ce6a7bf69.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
</head>
<body>
<% include ./header %>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_small.png">
		<p id="titleMessage">Let's get ready to post an awesome Caption entry!</p>
	</div>
	<hr>

	<div id="selectImageSection" class="centerDisplayContent" style="display:none;">
		<br>
		<table width="100%">
			<tr>
				<td width="40%">
					<div id="dropzone" class="dropZone">

						<div class="dropZoneContent">

					<p class="centerDisplayCaptionCentered">Drop Image here</p><br>
					<p class="centerDisplayCaptionCentered">OR</p><br>
					<label for="files" class="btn button-line">
	    				<i class="fa fa-cloud-upload"></i> Browse
					</label>

				</div>

				 <input id="files" type="file" style="display:none;"/>



					</div>
				</td>
				<td class="vertical-center-container horizontal-center-container">
					OR
				</td>
				<td width="40%">
					<div id="designSelection" class="designSelection">
						<p class="centerDisplayCaptionCentered">Select a design</p><br>
						<img src="/images/static/designSelection.jpg" id="selectDesignButton" class="selectDesignButton">
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div id="selectDesignSection" class="centerDisplayContent" style="display:none;">
		<p class="centerDisplayCaption">Select a design:</p><br>
		<select id="designCategories" class="chosen-select" multiple>
		</select>
		<div id="presetDesignList">

		</div>
	</div>

	<!-- FOOTER -->
	<div id="cancelSection" class="centerDisplayFooter">
		<hr>
		<p>Cancel and return to the <a href="/">home page</a>.</p>
	</div>

	<div id="stepsSection" style="display:none;">

		<div class="centerDisplayContent">
			<div id="newentry" class="fullWidth" style="text-align: center;">
				<div class="imageSection fit-image-section">
					<img id="newentryimage" class="centerImage fit-image"/>
					<input id="saveCropButton" class="buttonOverImage buttonOverlayRight" type="button" value="Save"/>
					<input id="cancelCropButton" class="buttonOverImage buttonOverlayLeft" type="button" value="Cancel"/>
				</div>
				<div id="cropLabel" style="display: none;">Hover over the image above to Crop the image</div>
			</div>

			<!-- CAPTION SECTION -->
			<br>
			<div id="captionSection">
				<p class="centerDisplayCaption">Entry caption:</p>
				<table width="100%">
					<tr>
						<td width="90%">
							<input type="text" id="bannerText" class="form-control horizontal-center-container horizontal-center-child" placeholder="Enter your entry caption here.  Press ENTER when done." required>
						</td>
						<td>
							<button type="button" class="btn btn-lg button-setting" id="captionButton" disabled>Apply</button>
						</td>
					</tr>
				</table>
			</div>

			<br>
			<div id="steps" style="display:none;">

				<div id="tabs">
					<ul class="nav nav-tabs light-bg">
						<li class="active" id="artifactTab">
							<a data-toggle="tab" href="#artifactSection">Place caption</a>
						</li>
						<li class="" id="layoutTab">
							<a data-toggle="tab" href="#layoutSection">Adjust layout</a>
						</li>
						<li class="" id="filterTab">
							<a data-toggle="tab" href="#filterSection">Apply filters</a>
						</li>
						<li class="" id="decorationTab">
							<a data-toggle="tab" href="#decorationSection">Add borders</a>
						</li>
					</ul>
					<div class="tab-content dark-bg">
						<div id="artifactSection" class="tab-pane fade in active">
							<!-- CUSTOM ARTIFACT SETTINGS -->
							<div class="settingsSubBlock">
								<input type="checkbox" id="bannerCustomOptionsCheckbox"><span class="settingsSubBlockCaption">Enable custom options</span>
							</div>
							<br>
							<div id="customArtifactsSettingSection" style="display:none;">
								<div class="settingsSubBlock">
									<span class="settingsSubBlockCaption">Background color:</span><button type="button" class="btn button-setting" id="bannerColorButton" style="background-color: rgba(0, 0, 0, 0.5);">Choose</button>
								</div>
								<div class="settingsSubBlock">
									<span class="settingsSubBlockCaption">Text color:</span><button type="button" class="btn button-setting" id="bannerTextColorButton" style="background-color: rgba(255, 255, 255, 1);">Choose</button>
								</div>
							</div>

							<!-- PRESET ARTIFACT SUBSECTION -->
							<div id="presetArtifactSection" class="horizontal-strip-container"></div>
						</div>
						<div id="layoutSection" class="tab-pane fade">
							<!-- CUSTOM LAYOUT SETTINGS -->
							<div class="settingsSubBlock">
								<span class="settingsSubBlockCaption">Crop options:</span><button type="button" class="btn button-setting" id="resetCropButton">Reset Crop</button>
								<button type="button" class="btn button-setting" id="editCropButton"><i class="fa fa-crop" aria-hidden="true"></i> Edit Crop</button>
							</div>


							<!-- PRESET LAYOUT SUBSECTION -->
							<div id="presetLayoutSection" class="horizontal-strip-container"></div>
						</div>
						<div id="filterSection" class="tab-pane fade">
							<!-- PRESET FILTER SUBSECTION -->
							<div id="presetFilterSection" class="horizontal-strip-container"></div>
						</div>
						<div id="decorationSection" class="tab-pane fade">
							<!-- CUSTOM DECORATION SETTINGS -->
							<div class="settingsSubBlock">
								<input type="checkbox" id="borderCustomOptionsCheckbox"><span class="settingsSubBlockCaption">Enable custom options</span>
							</div>
							<br>
							<div id="customDecorationSettingSection" style="display:none;">
								<div class="settingsSubBlock">
									<span class="settingsSubBlockCaption">Border Width:</span>
									<input type="number" id="borderWidth" value="0">
								</div>
								<div class="settingsSubBlock">
									<span class="settingsSubBlockCaption">Border Color:</span>
									<button type="button" class="btn button-setting" id="borderColor" style="background-color: rgba(0, 0, 0, 1);">Choose</button>
								</div>
							</div>
							<!-- PRESET DECORATION SUBSECTION -->
							<div id="presetDecorationSection" class="horizontal-strip-container"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- FOOTER -->
			<div id="postSection" class="centerDisplayFooter">
				<hr>
				<button type="button" class="btn btn-lg button-full" value="postCaption" id="apply">Post Caption</button>
				<hr>
    			<p>Cancel and return to the <a href="/">home page</a>.</p>
			</div>

		</div>

	</div> <!-- stepsSection -->
</div> <!--centerDisplayWide-->

<br><br>


<script>
	var challengeId = '<%=challengeId%>';
	var designId = '<%=designId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/third-party/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/third-party/cropper/js/cropper.min.js"></script>
<script src="/third-party/chosen/chosen.jquery.min.js"></script>
<script src="/third-party/chosen/chosen.proto.min.js"></script>
<script src="/js/newentry.min.js"></script>
<script src="/js/header.min.js"></script>
<script src="/js/utils.min.js"></script>
<script src="/js/containers.min.js"></script>

</body>
</html>