<!DOCTYPE html>
<html>
<head>
<% include ./favicon_header %>
<title>Post a Caption Entry | Captionify.com</title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/third-party/cropper/css/cropper.min.css">
<link rel="stylesheet" href="/third-party/chosen/chosen.min.css">
<link rel="stylesheet" href="/css/styles.min.css">
<script src="https://use.fontawesome.com/6ce6a7bf69.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
</head>
<body>
<% include ./header %>

<br><br>
<div class="centerDisplayWide">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_small.png">
		<p id="titleMessage">Let's get ready to post an awesome Caption entry!</p>
	</div>
	<hr>

	<div id="selectImageSection" class="selectImageSection">
		<table width="100%">
			<tr>
				<td width="40%">
					<div id="dropzone" class="dropZone">
			
						<div class="dropZoneContent">
				
					<p>Drop Image here</p><br>
					<p>OR</p><br>
					<label for="files" class="btn button-line">
	    				<i class="fa fa-cloud-upload"></i> Browse
					</label>
				
				</div>
			
				 <input id="files" type="file" style="display:none;"/> 
					
					
					
					</div>	
				</td>
				<td class="vertical-center horizontal-center">
					OR
				</td>
				<td width="40%">
					<div id="designSelection" class="designSelection">
						<p class="horizontal-center">Select a design</p>
						<img src="/images/static/designSelection.jpg" id="selectDesignButton" class="selectDesignButton">
					</div>	
				</td>
			</tr>
		</table>
	</div>

	<div id="selectDesignSection" class="selectDesignSection" style="display:none;">
		<p class="horizontal-center">Select a design</p>
		<select id="designCategories" class="chosen-select" multiple>
		</select>
		<div id="presetDesignList">

		</div>
	</div>


	<div id="stepsSection" class="stepsSection" style="display:none;">

		<div id="newentry" class="fullWidth" style="text-align: center;">
			<div class="imageSection fit-image-section">
				<img id="newentryimage" class="centerImage fit-image"/>
				<input id="saveCropButton" class="buttonOverImage buttonOverlayRight" type="button" value="Save"/>
				<input id="cancelCropButton" class="buttonOverImage buttonOverlayLeft" type="button" value="Cancel"/>
			</div>
			<div id="cropLabel" style="display: none;">Hover over the image above to Crop the image</div>
		</div>

		<!-- CAPTION SECTION -->
		<div id="captionSection">
			<br>
			<div class="settingsSubBlock">
				<input type="text" id="bannerText" class="form-control" placeholder="My Awesome Caption!" required>
			</div>
		</div>

		<div id="steps" class="stepwizard" style="display:none;">

			<div id="tabs">
				<ul class="nav nav-tabs">
					<li class="active" id="artifactTab">
						<a data-toggle="tab" href="#artifactSection">Place caption</a>
					</li>
					<li class="" id="layoutTab">
						<a data-toggle="tab" href="#layoutSection">Adjust layout</a>
					</li>
					<li class="" id="filterTab">
						<a data-toggle="tab" href="#filterSection">Apply filters</a>
					</li>
					<li class="" id="decorationTab">
						<a data-toggle="tab" href="#decorationSection">Add borders</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="artifactSection" class="tab-pane fade in active">
						<!-- CUSTOM ARTIFACT SETTINGS -->
						<div class="settingsSubBlock">
							<span class="settingsSubBlockCaption">Background color:</span><button type="button" class="btn button-setting" id="bannerColorButton" style="background-color: rgba(0, 0, 0, 0.5);">Choose</button>
						</div>
						<div class="settingsSubBlock">
							<span class="settingsSubBlockCaption">Text color:</span><button type="button" class="btn button-setting" id="bannerTextColorButton" style="background-color: rgba(255, 255, 255, 1);">Choose</button>
						</div>
						<div class="settingsSubBlock">
							<span class="settingsSubBlockCaption">Text size:</span><input type="number" id="bannerTextFontSize" value="30">
						</div>
						
						<!-- PRESET ARTIFACT SUBSECTION -->
						<div id="presetArtifactSection" class="settingsSubBlock"></div>
					</div>
					<div id="layoutSection" class="tab-pane fade">
						<!-- CUSTOM LAYOUT SETTINGS -->
						<div class="settingsSubBlock">
							<span class="settingsSubBlockCaption">Crop options:</span><button type="button" class="btn button-setting" id="resetCropButton">Reset Crop</button>
							<button type="button" class="btn button-setting" id="editCropButton"><i class="fa fa-crop" aria-hidden="true"></i> Edit Crop</button>
						</div>
						

						<!-- PRESET LAYOUT SUBSECTION -->
						<div id="presetLayoutSection" class="settingsSubBlock"></div>
					</div>
					<div id="filterSection" class="tab-pane fade">
						<!-- PRESET FILTER SUBSECTION -->
						<div id="presetFilterSection" class="settingsSubBlock"></div>
					</div>
					<div id="decorationSection" class="tab-pane fade">
						<!-- CUSTOM DECORATION SETTINGS -->
						<div class="settingsSubBlock">
							<span class="settingsSubBlockCaption">Border Width:</span>
							<input type="number" id="borderWidth" value="0">
						</div>
						<div class="settingsSubBlock">
							<span class="settingsSubBlockCaption">Border Color:</span>
							<button type="button" class="btn button-setting" id="borderColor" style="background-color: rgba(0, 0, 0, 1);">Choose</button>
						</div>
						<!-- PRESET DECORATION SUBSECTION -->
						<div id="presetDecorationSection" class="settingsSubBlock"></div>
					</div>
				</div>
			</div>

			<!-- FOOTER -->
			<div id="postSection" class="centerDisplayFooter">
				<hr>
				<button type="button" class="btn btn-lg button-full" value="postCaption" id="apply">Post Caption</button>
			</div>

		</div>

	</div> <!-- stepsSection -->
</div> <!--centerDisplayWide-->

<br><br>


<script>
	var challengeId = '<%=challengeId%>';
	var designId = '<%=designId%>';
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/third-party/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/third-party/cropper/js/cropper.min.js"></script>
<script src="/third-party/chosen/chosen.jquery.min.js"></script>
<script src="/third-party/chosen/chosen.proto.min.js"></script>
<script src="/js/newentry.min.js"></script>
<script src="/js/header.min.js"></script>
<script src="/js/utils.min.js"></script>
<script src="/js/containers.min.js"></script>

</body>
</html>