<div id="shortcutsSidebar" class="sidebar">
	<div class="sidebarHeading">Shortcuts</div>
	<div class="sidebarContent">
		<div class="sidebar-item">
			<a href="/">Home Feed</a>
		</div>
		<span class="sidebarSeparator"></span>
		<div class="sidebar-item">
			<a href="/challenges">Browse Challenges</a>
		</div>
		<div class="sidebar-item">
			<a href="/entries">Browse Entries</a>
		</div>
		<div class="sidebar-item">
			<a href="/users">Browse Users</a>
		</div>
	</div>
</div>