<div id="shortcutsSidebar" class="sidebar">
	<span class="sidebarHeading">Shortcuts</span>
	<a class="sidebarLink" href="/">Home Feed</a>
	<span class="sidebarSeparator"></span>
	<a class="sidebarLink" href="/newentry">Create Caption</a>
	<a class="sidebarLink" href="/challenges">Browse Challenges</a>
	<a class="sidebarLink" href="/entries">Browse Entries</a>
	<a class="sidebarLink" href="/users">Browse Users</a>
</div>