<!DOCTYPE html>
<html>
<head>
    <title>Terms of Use | Captionify.com</title>
    <% include ./favicon_header %>
  
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/third-party/font-awesome/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
<style>
        body        { padding-top:80px; }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');

</script>
</head>
<body>

<div class="centerDisplay">
	<div class="centerDisplayHeader">
		<img src="/images/branding/captionify_logo_medium.png">
		<p class="centerDisplayTitle">Terms of Use</p>
		<hr>
	</div>
	<div class="centerDisplayContentLeft">
	
	<p>By accessing or using the Captionify.com website, the Captionify service, or any applications (including mobile applications) made available by Captionify (together, the "Website"), however, accessed, you agree to be bound by these terms of use (“Terms of Use” or "Terms"). The Service is owned or controlled by Captionify.com. These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.</p>
	<p>This document is reviewed and revised from time to time. You will want to revisit it regularly.</p>
	<br>
	<p class="centerDisplayCaption">Basic Terms</p>
	<p>By using the Website you are agreeing to be bound by the following terms:
		<nl>
		<li>You must be 13 years or older to use this site.</li>
		<li>You may not post nude, partially nude, or sexually suggestive photos.</li>
		<li>You are responsible for any activity that occurs under your screen name.</li>
		<li>You are responsible for keeping your password secure.</li>
		<li>You must not abuse, harass, threaten, impersonate or intimidate other Captionify.com users.</li>
		<li>You may not use this Website for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
		<li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on this Website.</li>
		<li>You must not modify, adapt or hack this Website or modify another website so as to falsely imply that it is associated with this Website.</li>
		<li>You must not access Captionify.com's private API by any other means other than the Captionify.com application or Website itself.</li>
		<li>You must not crawl, scrape, or otherwise cache any content from Captionify.com including but not limited to user profiles and photos.</li>
		<li>You must not create or submit unwanted email or comments to any Captionify.com members ("Spam").</li>
		<li>You must not use web URLs in your name without prior written consent from Captionify.com</li>
		<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
		<li>You must not, in the use of the Website, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
		<li>Violation of any of these agreements will result in the termination of your Captionify.com account. While Captionify.com prohibits such conduct and content on its site, you understand and agree that Captionify.com cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Website at your own risk.</li>
		</nl>
	</p>
	<br>
	<p class="centerDisplayCaption">Intellectural Property Rights</p>
		<p>Other than content you own, which you may have opted to include on this Website, under these Terms, Captionify.com and/or its licensors own all rights to the intellectual property and material contained in this Website (including, but not restricted to, the design, layout, content, logo, features, functionality) and all such rights are reserved.

	</p>
	<br>
	<p class="centerDisplayCaption">Restrictions</p>
	<p>You are expressly and emphatically restricted from all of the following:
		<nl>
		<li>Publishing any Website material in any media;</li>
		<li>Selling, sublicensing and/or otherwise commercializing any Website material;</li>
		<li>Publicly performing and/or showing any Website material;</li>
		<li>Using this Website in any way that is, or may be, damaging to this Website;</li>
		<li>Using this Website in any way that impacts user access to this Website;</li>
		<li>Using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
		<li>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
		<li>Using this Website to engage in any advertising or marketing;</li>
		</nl>
	</p>

	<p>
	Certain areas of this Website are restricted from access by you and Captionify.com may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.</p>
	<br>
	<p class="centerDisplayCaption">Your Content</p>
	<p>In these Terms of Use, “Your Content” shall mean any audio, video, text, images or other material you choose to display on this Website. With respect to Your Content, by displaying it, you grant Captionify.com a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</p>

	<p>
	Your Content must be your own and must not be infringing on any third party’s rights. Captionify.com reserves the right to remove any of Your Content from this Website at any time, and for any reason, without notice.
	</p>
	<br>
	<p class="centerDisplayCaption">No Warranties</p>
	<p>This Website is provided “as is,” with all faults, and Captionify.com makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.</p>

	<br>
	<p class="centerDisplayCaption">Limitation of Liability</p>
	<p>In no event shall Captionify.com, nor any of its officers, developers, directors and/or employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and Captionify.com, including its officers, developers, directors and/or employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>

	<br>
	<p class="centerDisplayCaption">Indemnification</p>
	<p>You hereby indemnify to the fullest extent Captionify.com from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.</p>

	<br>
	<p class="centerDisplayCaption">Severability</p>
	<p>If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.</p>

	<br>
	<p class="centerDisplayCaption">Variation of Terms</p>
	<p>Captionify.com is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.</p>

	<br>
	<p class="centerDisplayCaption">Assignment</p>
	<p>Captionify.com shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, .you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

	<br>
	<p class="centerDisplayCaption">Entire Agreement</p>
	<p>These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between Captionify.com and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.</p>

	<br>
	<p class="centerDisplayCaption">Governing Law & Jurisdiction</p>
	<p>These Terms will be governed by and construed in accordance with the laws of the Union Territory of Delhi, India, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Delhi for the resolution of any disputes.</p>

	<br>
	Last Updated: June 23, 2018.
    </div>
    <div class="centerDisplayFooter">
    	<hr>
    	<p>Return to the <a href="/">home page</a>.</p>
    </div>

</div>
</body>
</html>