<html>

<head>
	<!--
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link ref="stylesheet" href="/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>User</title>
</head>

<body>
<% include ./header %>
<div id="profileInfo" class="profileInfo">
    <div class="imageSection">
    
      <img id="profileImage" class="profileImage img-rounded">

      
    
      <div class="carousel slide" id="imageCarousel" data-interval="false">
      
        <ol class="carousel-indicators">
        </ol>
      
        <div class="carousel-inner">
        </div>
        
        <a href="#imageCarousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
        <a href="#imageCarousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
        
      </div>
      <div id="dropzone" class="dropZone" style="display:none;">Drop Image here</div>

      <input id="changePicture" class="buttonOverImage" type="button" value="Change Picture" />
      <input id="newImage" class="buttonOverImage" type="button" value="New Image" style="display:none;"/>
      <input id="saveImage" class="buttonOverImage" type="button" value="Save" style="display:none;"/>
      <input id="browseImage" class="buttonOverImage" type="file" name="file" value="Browse New Image" style="display:none;"/>
    </div>
    <div class="profileName">
      <p id="displayName"></p>
    </div>
    <div class="followSection">
      <span id="numFollowers" class="numFollowers"></span><span class="followers"> Followers</span>
      <a id="followLink" class="followButton"></a>
    </div>
    <div class="socialSection">
      <p id="socialHeader" class="subHeading"></p>
      <ul>
        <li><a id="linkGoogle" href="/auth/google">
          <div class="socialImageSection">
            <img id="imageGoogle" class="socialImage"><img id="imageGoogleTick" class="socialTick" src="/images/social/tick_small_50x50.png">
          </div>
        </a></li>
        <li><a id="linkTwitter" href="/auth/twitter">
        <div class="socialImageSection">
          <img id="imageTwitter" class="socialImage"><img id="imageTwitterTick" class="socialTick" src="/images/social/tick_small_50x50.png">
        </div>
        </a></li>
        <li><a id="linkFacebook" href="/auth/facebook">
        <div class="socialImageSection">
          <img id="imageFacebook" class="socialImage"><img id="imageFacebookTick" class="socialTick" src="/images/social/tick_small_50x50.png">
        </div>
        </a></li>
      </ul>
    </div>
</div> <br><br>
<div id="challenges">
  <span class="sectionHeader">Challenges Posted by this user</span><br>

  <table id="challengesTable" class="gridTable">
  </table>
</div>

<div id="entries">
  <span class="sectionHeader">Entries Posted by this user</span><br>
    <table id="entriesTable" class="gridTable">
  </table>
</div>
</body>

<script>
var userInfo = <%- JSON.stringify(userInfo) %>;
var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/user.js"></script>
<script src="/js/header.js"></script>
</html>