<html>

<head>
	<!--
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>User</title>
</head>

<body>
<div id="profileInfo">
</div>
</body>

<script>
var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/user.js"></script>
<script src="/js/header.js"></script>
</html>