<html>
<head>
<title>Challenges</title>
<link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
<link ref="stylesheet" href="/third-party/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css"
</head>
<body>
<% include ./header %>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-2 fixed">
		<% include ./shortcutsSidebar %>
		<div class="sidebar" id="categoriesSidebar">
		</div>
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div id="users" class="col-md-6 col-md-offset-2">
	</div>
	<div class="col-md-2">
		<div class="sidebar" id="popularUsersSidebar">
		</div>
	</div>
	<div class="col-md-2">
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
</div>

<script>
	var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/users.js"></script>
<script src="/js/header.js"></script>
<script src="/js/utils.js"></script>
</body>
</html>