<html>

<head>
	<!--
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>User</title>
</head>

<body>
<div id="profileInfo">
</div> <br><br>
<div id="challenges">
  <span class="sectionHeader">Challenges Posted by this user</span><br>

  <table id="challengesTable" class="gridTable">
  </table>
</div>

<div id="entries">
  <span class="sectionHeader">Entries Posted by this user</span><br>
    <table id="entriesTable" class="gridTable">
  </table>
</div>
</body>

<script>
var user = <%- JSON.stringify(user) %>;
</script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/user.js"></script>
<script src="/js/header.js"></script>
</html>