<html>

<head>
<% include ./metadata %>
<% include ./favicon_header %>
    <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.min.css">

    <title><%=pageTitle%></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46129625-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46129625-3');
</script>
</head>

<body>
<% include ./header %>

<div class="container-fluid">
	<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-2 col-md-offset-1 fixed">
		<% include ./shortcutsSidebar %>
		<div id="leftMiddleSidebar">
		</div>
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div id="user" class="col-md-5 col-md-offset-2">
		<div class="centerDisplayWide general-element">
			<div class="centerDisplayContent">
				<div class="imageSection">
			      <img id="profileImage" class="profileImage img-rounded">
			      <div class="carousel slide" id="imageCarousel" data-interval="false" style="display: none;">
			      
			        <ol class="carousel-indicators">
			        </ol>
			      
			        <div class="carousel-inner">
			        </div>
			        
			        <a href="#imageCarousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
			        <a href="#imageCarousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
			        
			      </div>
			      <div id="dropzone" class="dropZone" style="display:none;">Drop Image here</div>

			      <input id="changePicture" class="buttonOverImage buttonOverlayRight" type="button" value="Change Picture" />
			      <input id="newImage" class="buttonOverImage buttonOverlayLeft" type="button" value="New Image" style="display:none;"/>
			      <input id="saveImage" class="buttonOverImage buttonOverlayRight" type="button" value="Save" style="display:none;"/>
			      <input id="setImage" class="buttonOverImage buttonOverlayRight" type="button" value="Set" style="display:none;"/>
			      <input id="browseImage" class="buttonOverImage buttonOverlayRight" type="file" name="file" value="Browse New Image" style="display:none;"/>
			    </div>
			</div>
			<div class="centerDisplayContent">
				<div class="profileName">
			    	<input id="displayName" class="displayName" type="text" />
			    	<input id="editName" class="buttonOverText buttonOverlayRight" type="button" value="Edit" />
			    	<input id="saveName" class="buttonOverText buttonOverlayRight" type="button" value="Save" style="display:none;"/>
			    </div>
			    <div id="socialStatusSection" class="followSection">
			    </div>
		    </div>
		</div>
	</div>
	<div class="col-md-2 col-md-offset-8 fixed">
		<div id="rightSidebar">
		</div>
	</div>
	<div class="col-md-1 fixed col-md-offset-10">
		<div class="sidebar">
			<span class="sidebarHeading">Ad Space</span>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>

</body>

<script>
var userInfo = <%- JSON.stringify(userInfo) %>;
var user = <%- JSON.stringify(user) %>;
</script>
<script src="/third-party/jquery/js/jquery.min.js"></script>
<script src="/third-party/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/user.min.js"></script>
<script src="/js/header.min.js"></script>
<script src="/js/utils.min.js"></script>
</html>